.animation-delay {
  -webkit-animation-delay: 300ms;
}
.animation-delay-more {
  -webkit-animation-delay: 600ms;
}
.animation-wait {
  -webkit-animation-fill-mode: backwards;
}
.animation-fade-in-from-bottom,
.animation-fade-in-from-left,
.animation-fade-in,
.animation-fade-in-from-top,
.animation-stack-in,
.animation-zoom-in,
.animation-fade-out {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-duration: 300ms;
}
.animation-repeat-bounce {

  -webkit-animation: repeat-bounce 500ms ease-in-out 0s infinite;
  // -webkit-animation-name: repeat-bounce 500ms ease-in-out 0s infinite;
  // -webkit-animation-duration: 500ms;
  // animation-iteration-count: infinite;
  // animation-timing-function: ease-in-out;
  // -webkit-transform-origin: 50% 50%;
}
.animation-repeat-bounce-in {
  -webkit-animation: repeat-bounce-in 500ms ease-in-out 0s infinite;
}
@keyframes pointit{
  0% {
    -webkit-transform: rotate3d(0,0,1,-21deg) scale3d(0.5,0.5,1) translate3d(0px,0px,0px);
  }
  50% {
    -webkit-transform: rotate3d(0,0,1,-10deg) scale3d(0.5,0.5,1) translate3d(50px,50px,0px);
  }
  100% {
    -webkit-transform: rotate3d(0,0,1,-21deg) scale3d(0.5,0.5,1) translate3d(0px,0px,0px);
  }
}
.animation-repeat-point{
  -webkit-animation: pointit 500ms ease-in-out 0s infinite;
  // -webkit-animation-duration: 500ms;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-timing-function: ease-in-out;
}

.animation-once-bounce {
  -webkit-animation-name: repeat-bounce;
  -webkit-animation-duration: 500ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: 50% 50%;
}
@keyframes repeat-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes repeat-bounce-in {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.animation-repeat-fade {
  -webkit-animation-name: repeat-fade;
  -webkit-animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes repeat-fade{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animation-fade-in-from-bottom {
  -webkit-animation-name: fade-in-from-bottom;
}
@keyframes fade-in-from-bottom {
  0% {
    -webkit-transform: translate3d(0,20px,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.animation-fade-in,
.animation-fade-in.ng-hide-remove {
  -webkit-animation-name: fade-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-fade-out,
.animation-fade-out.ng-hide-add {
  -webkit-animation-name: fade-out;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animation-fade-in-from-top {
  -webkit-animation-name: fade-in-from-top;
}
@keyframes fade-in-from-top {
  0% {
    -webkit-transform: translate3d(0,-20px,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0px,0);
    opacity: 1;
  }
}

.animation-fade-out-from-top {
  animation: fade-out-from-top 0.5s ease-in 1 forwards;
}
@keyframes fade-out-from-top {
  0% {
    -webkit-transform: translate3d(0,0px,0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0,-20px,0);
    opacity: 0;
  }
}

.animation-fade-in-from-left {
  -webkit-animation-name: fade-in-from-left;
}
@keyframes fade-in-from-left {
  0% {
    -webkit-transform: translate3d(-20px,0,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.animation-bounce-in-from-top {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-duration: 300ms;
  -webkit-animation-name: bounce-in-from-top;
}
@keyframes bounce-in-from-top {
  0% {
    -webkit-transform: translate3d(0,-20px,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0px,0);
    opacity: 1;
  }
}
.animation-stack-in {
  -webkit-animation-name: stack-in;
}
@keyframes stack-in {
  0% {
    -webkit-transform: translate3d(-100px, -100px,0) rotateZ(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0,0) rotateZ(0);
    opacity: 1;
  }
}
.animation-zoom-in {
  -webkit-animation-name: zoom-in;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-duration: 0.5s;
}
@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.animation-zoom-out-1 {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: zoom-out-1;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
}
@keyframes zoom-out-1 {
  0% {
    -webkit-transform: scale3d(3,3,1) rotate3d(0,0,1,0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,-15deg) translate3d(0,10px,0);
    opacity: 1;
  }
}
.animation-zoom-out-2 {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: zoom-out-2;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
}
@keyframes zoom-out-2 {
  0% {
    -webkit-transform: scale3d(3,3,1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
  }
}
.animation-zoom-out-3 {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: zoom-out-3;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
}
@keyframes zoom-out-3 {
  0% {
    -webkit-transform: scale3d(3,3,1) rotate3d(0,0,1,0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,15deg) translate3d(0,10px,0);
    opacity: 1;
  }
}
.animation-question-slide.ng-enter {
  -webkit-animation-name: question-slide-enter;
  -webkit-animation-duration: 500ms;
}
@keyframes question-slide-enter {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}
.animation-fade-bounce-from-top {

  // -webkit-animation-fill-mode: backwards;
  -webkit-animation: fade-bounce-from-top 1s;
  // -webkit-animation-duration: 1s;
}
@keyframes fade-bounce-from-top {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    49.95% {
        opacity: 1;
      -webkit-transform: translateY(10px);
    }

    66.6% {
      -webkit-transform: translateY(-2px);
    }

    83.25% {
      -webkit-transform: translateY(1px);
    }

    100% {
      -webkit-transform: translateY(0);
    }
}
.animation-fade-scale-from-top {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: fade-scale-from-top;
  -webkit-animation-duration: 1s;
}
@keyframes fade-scale-from-top {
    0%{
        opacity: 0;
    }

    49.95% {
        opacity: 1;
      -webkit-transform: scaleY(1.3);
    }

    66.6% {
      -webkit-transform: scaleY(1.1);
    }

    83.25% {
      -webkit-transform: scaleY(1.2);
    }

    100% {
      -webkit-transform: scaleY(1);
    }
}

@keyframes expand{
    0%{
      transform: scale3d(1,1,1);
      opacity: 0;
    }
    1%{
      transform: scale3d(1,1,1);
      opacity: 1;
    }
    100%{
      transform: scale3d(30,30,1);
      opacity: 1;
    }
}

@keyframes shrink{
    0%{
      transform: scale3d(30,30,1);
      opacity: 1;
    }
    99%{
      transform: scale3d(1,1,1);
      opacity: 1;
    }
    100%{
      transform: scale3d(1,1,1);
      opacity: 0;
    }
}


.anim-expand{
  animation: expand 0.4s cubic-bezier(.61,.09,.48,1) 1 forwards;
}

.anim-shrink{
  animation: shrink 0.4s cubic-bezier(.61,.09,.48,1) 1 forwards;
}

@include keyframes(bang) {
  from {
    @include transform( translate3d(0,0,0) );
    opacity: 1;
  }
}
.hoverme {
  position: relative;
  i {
    z-index: 3;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 11px;
    background: red;
    opacity: 0;
  }

  @for $i from 1 through 50 {
    i:nth-of-type(#{$i}) {
      @include transform( translate3d(random(500) - 250 + px,random(500) - 250 + px,0) rotate(random(360) + deg) );
      background: hsla(random(360),100%,50%,1);
      @include animation(bang 1200ms ease-out forwards);
      opacity: 0;
    }
  }
}
