.button {
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  border-radius: $border-radius;
  border: 0;
  text-transform: capitalize !important;
}
.button:hover{
  color: #FFF;
}
.button-resume {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 20%;
  min-height: 20%;
}
.button[disabled] {
  background-color: $brand-grey;
  color: darken($brand-grey,80%);
}
.button-green {
  line-height: 50px !important;
  background-color: $brand-green;
  color: $brand-white;
}
.button-green.active,
.button-green.active:focus,
.button-green:active,
.button-green:focus{
  background-color: darken($brand-green,10%);
  color: $brand-white;
}
.button-round {
  border-radius: $border-radius-round;
  padding-top: 5px;
}
.button.icon-left-align {}
.button-group {
  color: $brand-white;
}
.button-group > .button:first-child {
  border-radius: $border-radius-round 0 0 $border-radius-round !important;
  max-width: 15% !important;
  border-right: 1px solid rgba(255, 255, 255, 0.36);
}
.button-group > .button:last-child {
  border-radius: 0 $border-radius-round $border-radius-round 0 !important;
}
.button-group > .button {
  border: 0;
}
.button-no-shadow {
  box-shadow: none;
}

.button-sm.button{
  padding: 4px 8px;
  margin: 5px 0px;
}

.button-sm.button-round {
  min-height: $button-sm;
  min-width: $button-sm;
  max-height: $button-sm;
  max-width: $button-sm;
}

.button-sm.button-round .icon:before{
  line-height: 22px;
}


.sbtn{
  display: inline-block;
  border: none;
}

.sbtn.activated,.sbtn.active{
  background-position: 100% 0 !important;
}

.sbtn-next-yellow{
  background: url('../img/assets_svg/button-yellow.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}
.sbtn-start{
  background: url('../img/assets_svg/button-start.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}
.sbtn-arrow-back{
  background: url('../img/assets_svg/back_arrow_button.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 62px;
  height: 60px;
}
.sbtn-arrow-forward{
  background: url('../img/assets_svg/forward_arrow_button.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 62px;
  height: 60px;
}
.sbtn-arrow-finish{
  background: url('../img/assets_svg/finish_arrow_button.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 62px;
  height: 60px;
}
.sbtn-flipped{
    -webkit-transform: scaleX(-1);
}
.sbtn-submit{
  background: url('../img/assets_svg/button-submit.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}
.sbtn-continue{
  background: url('../img/assets_svg/button-continue.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}
.sbtn-submit:disabled{
  background: url('../img/assets_svg/button-submit-grey.svg') !important;
  background-size: cover !important;
  background-position: 0 0 !important;
  background-repeat:no-repeat !important;
  width: 175px !important;
  height: 56px !important;
}

.sbtn-next-blue{
  background: url('../img/assets_svg/button-blue-next.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}


.sbtn-wrong{
  background: url('../img/assets_svg/button-wrong.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}

.sbtn-correct{
  background: url('../img/assets_svg/button-correct.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}

.sbtn-play{
  background: url('../img/assets_svg/button-play.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}

.sbtn-sound{
  background: url('../img/assets_svg/button-audio.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 125px;
  height: 120px;
}

.sbtn-sound-sm{
  background: url('../img/assets_svg/button-audio.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 62.5px;
  height: 60px;
}

.sbtn-video-yellow{
  background: url('../img/assets_svg/button-video-yellow.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 175px;
  height: 56px;
}

.sbtn-node-video-green{
  background: url('../img/assets_svg/button-green-video.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-video-blue{
  background: url('../img/assets_svg/button-blue-video.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-video-darkblue{
  background: url('../img/assets_svg/button-darkblue-video.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-practice-green{
  background: url('../img/assets_svg/button-green-practice.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-practice-orange{
  background: url('../img/assets_svg/button-green-practice.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-practice-blue{
  background: url('../img/assets_svg/button-blue-practice.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-practice-darkblue{
  background: url('../img/assets_svg/button-darkblue-practice.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-node-practice-orange{
  background: url('../img/assets_svg/button-orange-practice.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 88px;
  height: 90px;
}
.sbtn-phone-add{
  background: url('../img/assets_svg/button-phone-add.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 268px;
  height: 49px;
}
.sbtn-phone-add-small{
  background: url('../img/assets_svg/button-phone-add-small.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 199px;
  height: 36px;
}
.sbtn-phone-add-small:disabled{
  filter: grayscale(1);
}
.sbtn-phone-add:disabled{
  background: url('../img/assets_svg/button-phone-add-grey.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 268px;
  height: 49px;
}
.sbtn-phone-change{
  background: url('../img/assets_svg/button-phone-change.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 268px;
  height: 49px;
}
.sbtn-done{
  background: url('../img/assets_svg/button-done.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 157px;
  height: 50px;
}
.sbtn-resend{
  background: url('../img/assets_svg/button-resend.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 157px;
  height: 50px;
}
.sbtn-resend:disabled{
  background: url('../img/assets_svg/button-resend-grey.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 157px;
  height: 50px;
}
.sbtn-done:disabled{
  background: url('../img/assets_svg/button-done-grey.svg') !important;
  background-size: cover !important;
  background-position: 0 0 !important;
  background-repeat:no-repeat !important;
  width: 157px !important;
  height: 50px !important;
}
.sbtn-next:disabled{
  background: url('../img/assets_svg/button-grey.svg') !important;
  background-size: cover !important;
  background-position: 0 0 !important;
  background-repeat:no-repeat !important;
  width: 175px !important;
  height: 56px !important; 
}

.sbtn-join{
   background: url('../img/assets_svg/button-join.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 155px;
  height: 50px; 
}
.sbtn-join.disabled{
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.sbtn-ok{
  background: url('../img/assets_svg/button-ok.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 155px;
  height: 50px; 
}
// .sbtn:disabled{
//   background: url('../img/assets_svg/button-grey.svg');
//   width: 175px;
//   height: 56px;
// }


.sicon-back{
  border: none;
  background: url('../img/assets_svg/back-cross.svg');
  background-size: cover;
  background-position: 0 0 !important;
  background-repeat:no-repeat;
  width: 28px;
  height: 21px;
}

.lbtn{
  background-color: $hex-blue;
  box-shadow: 0px -4px 0px #{$hex-dark-blue} inset;
  color: $hex-dark-blue;
}
// .sbtn-next-yellow:focus{
//   background-position: 100% 0 !important;
// }


// .sbtn-next-yellow:hover{
//   background-position: 100% 0 !important;
// }
