.button {
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  border-radius: $border-radius;
  border: 0;
  text-transform: capitalize !important;
}
.button:hover{
  color: #FFF;
}
.button-resume {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 30%;
}
.button[disabled] {
  background-color: $brand-grey;
  color: darken($brand-grey,80%);
}
.button-green {
  line-height: 50px !important;
  background-color: $brand-green;
  color: $brand-white;
}
.button-green.active,
.button-green.active:focus,
.button-green:active,
.button-green:focus{
  background-color: darken($brand-green,10%);
  color: $brand-white;
}
.button-round {
  border-radius: $border-radius-round;
}
.button.icon-left-align {}
.button-group {
  color: $brand-white;
}
.button-group > .button:first-child {
  border-radius: $border-radius-round 0 0 $border-radius-round !important;
  max-width: 15% !important;
  border-right: 1px solid rgba(255, 255, 255, 0.36);
}
.button-group > .button:last-child {
  border-radius: 0 $border-radius-round $border-radius-round 0 !important;
}
.button-group > .button {
  border: 0;
}
.button-no-shadow {
  box-shadow: none;
}

.button-sm.button{
  padding: 4px 8px;
  margin: 5px 0px;
}

.button-sm.button-round {
  min-height: $button-sm;
  min-width: $button-sm;
  max-height: $button-sm;
  max-width: $button-sm;
}

.button-sm.button-round .icon:before{
  line-height: 22px;
}
