.card{
  border-radius: $border-radius;
  box-sizing: content-box;
}
.list.card
{
  border-radius: $border-radius !important;
  box-shadow: 0 0 10px transparentize(black, 0.8);
}
.list.card > .item:first-child{
  border-radius: $border-radius $border-radius 0 0 !important;
}
.list.card > .item:last-child{
  border-radius: 0 0 $border-radius $border-radius !important;
}
.list.card > .item:not(:last-child):not(:first-child){
  border-radius: 0 !important;
}
.card-transparent{
  background-color: transparent;
  box-shadow: none !important;
  padding : $padding-y 0;
}
@each $name , $color in $color-list{
  .card-#{$name}{
    background-color: $color;
  }
}
@each $name , $color in $color-list{
  .card-#{$name}-light{
    background-color: lighten($color,10%);
  }
}
@each $name , $color in $color-list{
  .card-#{$name}-dark{
    background-color: darken($color,10%);
  }
}
.card-list{
  display: inline-block;
  width: 100%;
  margin: 0px;
}
.card-grid{
  display: inline-block;
  width: 40%;
  height: 124px;
}

 .option-image{
  width:100px;
  height:100px;
}
 .question-image{
  height: 100px;
}
