
.card {
  border-radius: $border-radius;
  box-sizing: content-box;
}
.list.card {
  border-radius: $border-radius !important;
  box-shadow: 0 0 10px transparentize(black, 0.8);
}
.list.card > .item:first-child {
  border-radius: $border-radius $border-radius 0 0 !important;
}
.list.card > .item:last-child {
  border-radius: 0 0 $border-radius $border-radius !important;
}
.list.card > .item:not(:last-child):not(:first-child) {
  border-radius: 0 !important;
}
.card-transparent {
  background-color: transparent;
  box-shadow: none !important;
  padding: $padding-y 0;
}
@each $name , $color in $color-list {
  .card-#{$name} {
    background-color: $color;
    -webkit-box-shadow: 2px 3px 4px 0 transparentize(darken($brand-grey,20),0.5);
    -moz-box-shadow: 2px 3px 4px 0 transparentize(darken($brand-grey,20),0.5);
    box-shadow: 2px 3px 4px 0 transparentize(darken($brand-grey,20),0.5);
  }
}
@each $name , $color in $color-list {
  .card-#{$name}-light {
    background-color: lighten($color,10%);
    -webkit-box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
    -moz-box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
    box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
  }
}
@each $name , $color in $color-list {
  .card-#{$name}-dark {
    background-color: darken($color,10%);
    -webkit-box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
    -moz-box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
    box-shadow: 2px 3px 4px 0 transparentize(darken($color,20),0.5);
  }
}
.card-list {
  display: inline-block;
  width: 90%;
  margin: 10px 0 0;
}
.card-grid {
  display: inline-block;
  width: 40vw;
  height: 40vw;
  margin: 5px 5px 0;
}
.card-grid.practice-card {
  width: calc(50% - 10px) !important;
  height: 23vh !important;
  float: left;
  border-radius: 20px !important;
}
.card-grid.practice-card .lcard-inner{
  border-radius: 20px;
}
.content-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.question {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $hex-dark-blue;
  line-height:1.15em;
  padding-left: 20px !important;
  padding-right: 20px !important;
// height: 50vw;
}
.question.practice-question{
}

.question > .content-image {
  max-height: 31vw;
  max-width: 41vw;
}
.option-container {
  display: table;
  width: 100%;
  height: 100%;
}
.option {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8em;
}
.option > .content-image {
  max-height: 95%;
  max-width: 95%;
}
.question > .sound-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.option > .sound-image {
  background: url(../img/assets_svg/icon-audio.svg);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center !important;
  width: 100%;
}

.card-brand.wrong-attempt,
.selected.wrong-attempt,
.wrong-attempt {
  background-color: lighten($assertive, 20%);
}
.card-brand.correct-attempt,
.correct-attempt,
.selected.correct-attempt {
  background-color: lighten($balanced, 20%);
}
.card.selected {
  background-color: $brand-yellow !important;
}
.card.practice-feedback {
  box-shadow: none;
}
.practice-feedback.correct {
  background: url($feedback-image-correct) no-repeat center center;
  background-size: auto 30%;
}
.practice-feedback.wrong {
  background: url($feedback-image-incorrect) no-repeat center center;
  background-size: auto 30%;
}
.card-image {
  height: 100px;
  width: 100px;
}
// .card-grid > label > div {
//   height: 100%;
//   // display: table;
//   // width: 100%;
// }
//
// .card-grid > label > div > div{
//   display: table-cell;
// }
$lcard-inner-height : $lcard-min-height - ($lcard-outer-padding*2);

.lcard{
  background: #FFF;
  width: $lcard-width;
  min-height: $lcard-min-height;
  border-radius: $lcard-min-height/2;
  padding: 5px;
}

.lcard-inner{
  background-color: $hex-blue;
  min-height: $lcard-inner-height;
  border-radius: $lcard-inner-height/2;
  box-shadow: 0px -4px 0px #{$hex-dark-blue} inset;
  font-size: 36px;
  color: $hex-dark-blue;
}

.lcard.selected .lcard-inner{
  background-color: $hex-yellow;
  box-shadow: 0px -4px 0px #{$hex-dark-yellow} inset;
  color: #FFF;
}

.question-diag .content-image{
  max-width: 60vw;
  max-height: 32vh;
}

.question-diag{
  min-height:45vh;
  width: 290px;
  margin: auto;
  font-size: 1.75em;
  line-height: 1.15em;
  color: $hex-dark-blue;
  text-align: center;
}
.practice-option-scroll{
  height: calc(65% - 70px);
}