.bar-transparent {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.dropzone {
  min-height: 100px;
}
.inline-block {
  display: inline-block;
}
.display-none{
  display: none !important;
}

.visible-none{
  visibility: hidden
}
.float-left {
  float: left;
}
.center {
  text-align: center;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.no-border {
  border: 0 !important;
}
.border-radius-0 {
  border-radius: 0 !important;
}
.no-shadow{
  box-shadow: none !important;
}
.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

ion-content.overflow-visible {
  overflow: visible;
}

.ghost{
  position: absolute;
  opacity: 0;
}


.square-60{
  height: 60px;
  width: 60px;
}

.bgcolor-node{
  background: #FCF3D8;
  border: solid 2px #219C7F;
}

.bgcolor-calm{
  background: #219C7F;
}

.img-container{
  box-sizing: border-box;
  position: absolute;
}
.img-responsive{
  width: inherit;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;

}
.inherit-height{
  height: inherit;
}

.inherit-width{
  width: inherit;
}

meter::-webkit-meter-bar {
    background: lighten($brand-grey , 20%);
    border-radius: $border-radius;
}

meter::-webkit-meter-optimum-value {
    background: $brand-green; /* Green */
    border-radius: $border-radius;
}

meter::-webkit-meter-suboptimum-value {
    background: $brand-yellow; /* Yellow */
    border-radius: $border-radius;
}

meter::-webkit-meter-even-less-good-value {
    background: lighten($assertive, 10%); /* Red */
    border-radius: $border-radius;
}

.divider::before{
  display: block;
  content: "";
  border-bottom: 1px solid rgba(0,0,0,0.2);
  position: absolute;
  width: calc(100% - 60px);
  padding-top: 9px;
  z-index: 10;
}

.divider + h4{
  position: relative;
  z-index: 14;
}

.name-avatar{
  background: url('../img/assets/name-boy.png'),url('../img/assets/name-girl.png');
  background-repeat: no-repeat;
  background-position: top left, top right;
  height: 240px;
  margin-top: 20px;
}

.radio-box-container{
  margin-left: auto;
  margin-right: auto;
}

.demo-point{
  position:absolute;
  margin-top:-180px;
  right:20px;
}