.bar-transparent {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.transparent{
  opacity: 0;
}
.opaque{
  opacity: 1;
}

.dropzone {
  min-height: 100px;
}
.inline-block {
  display: inline-block;
}
.block{
  display: block;
}
.display-none{
  display: none !important;
}

.visible-none{
  visibility: hidden
}
.float-left {
  float: left;
}
.center {
  text-align: center;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex{
  display: flex;
}
.no-border {
  border: 0 !important;
}
.border-radius-0 {
  border-radius: 0 !important;
}
.no-shadow{
  box-shadow: none !important;
}
.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

ion-content.overflow-visible {
  overflow: visible;
}

.ghost{
  position: absolute;
  opacity: 0;
}

.full-width{
  width: 100%
}

.absolute{
  position: absolute;
}

.square-60{
  height: 60px;
  width: 60px;
}

.bgcolor-node{
  background: #FCF3D8;
  border: solid 2px #219C7F;
}

.bgcolor-calm{
  background: #219C7F;
}

.img-container{
  box-sizing: border-box;
  position: absolute;
}
.img-responsive{
  width: inherit;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;

}
.inherit-height{
  height: inherit;
}

.inherit-width{
  width: inherit;
}

meter::-webkit-meter-bar {
    background: lighten($brand-grey , 20%);
    border-radius: $border-radius;
}

meter::-webkit-meter-optimum-value {
    background: $brand-green; /* Green */
    border-radius: $border-radius;
}

meter::-webkit-meter-suboptimum-value {
    background: $brand-yellow; /* Yellow */
    border-radius: $border-radius;
}

meter::-webkit-meter-even-less-good-value {
    background: lighten($assertive, 10%); /* Red */
    border-radius: $border-radius;
}

.divider::before{
  display: block;
  content: "";
  border-bottom: 1px solid rgba(0,0,0,0.2);
  position: absolute;
  width: calc(100% - 60px);
  padding-top: 9px;
  z-index: 10;
}

.divider + h4{
  position: relative;
  z-index: 14;
}

.name-avatar{
  background: url('../img/assets/name-boy.png'),url('../img/assets/name-girl.png');
  background-repeat: no-repeat;
  background-position: 0px 3vh, 100% 3vh;
  background-size: auto 33vh, auto 33vh;
  height: 100%;
  // @include xs-screen{
  //   background-size: auto 150px, auto 140px;
  // }
}

.radio-box-container{
  margin-left: auto;
  margin-right: auto;
}

.demo-point{
  position:absolute;
  top: 35%;
  left: 40%;
}

.close-icon-con{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 10px;
}

.personalize-title{
  font-size: 5vh !important;
  color: $hex-dark-blue;
  line-height: 1.8em;
  // @include xs-screen-height{
  //   font-size: 1.7em !important;
  //   line-height: 1em;
  // }
}

.personalize-input{
  // line-height:0.8em;
  border-bottom:2px solid $hex-dark-blue;
  color:$hex-dark-blue;
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-top: 14px;
  font-size: 4vh !important;
  line-height: 1 !important;
  // height: 13px;
  text-align: center;
  min-height: 7.5vh;
}

.personalize-button-container{
  position: absolute;
  width: 100%;
  bottom: 0px;
  @include xs-screen-height{
    position: relative;
    width: auto;
  }
}

.question div{
  font-size: 1.25em;
  line-height: 1;
  // padding-left: 45px;
}

.scroll-bar-indicator{
  display: none !important;
}

.not-no-sound>div{
  padding-left:45px !important;
}

.overflow-scroll{
  overflow-y:auto !important;
}