.bar-transparent {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.dropzone {
  min-height: 100px;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.center {
  text-align: center;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.no-border {
  border: 0 !important;
}
.border-radius-0 {
  border-radius: 0 !important;
}
.no-shadow{
  box-shadow: none !important;
}
ion-content.overflow-visible {
  overflow: visible;
}
