.row-20{
  height : 20%;
}
.row-40{
  height: 40%;
}
.row-60{
  height: 60%;
}
.wrapper-bottom-fixed{
  width: 100%;
  position: absolute;
  bottom : 0;
}
.wrapper-bottom-fixed.has-footer{
  width: 100%;
  position: absolute;
  bottom : $bar-height !important;
}
.has-quiz-subfooter{
  bottom: $bar-footer-height + $quiz-subfooter-height !important;
}
.has-footer-large{
  bottom: $bar-height-large !important;
}
.has-quiz-header{
  top : $quiz-header-height !important;
}
.has-practice-header{
  top : $practice-header-height !important;
}
.has-question-subheader {
  top: $question-subheader-height+$practice-header-height !important;
}
