@font-face {
    font-family: 'kg_primary_penmanship_2Rg';
    src: url('../font/kgprimarypenmanship2-webfont.eot');
    src: url('../font/kgprimarypenmanship2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kgprimarypenmanship2-webfont.woff2') format('woff2'),
         url('../font/kgprimarypenmanship2-webfont.woff') format('woff'),
         url('../font/kgprimarypenmanship2-webfont.ttf') format('truetype'),
         url('../font/kgprimarypenmanship2-webfont.svg#kg_primary_penmanship_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}
