.quiz-subfooter{
  height: $quiz-subfooter-height !important;
  bottom : $bar-footer-height;
}
.progress-bar > div{
  margin: 1px;
  box-sizing: border-box;
}
.progress-bar > .current,
.progress-bar > .attempted.current,
.progress-bar > .unattempted.current,
.progress-bar > .skipped.current
{
 background-color: $calm;
}
.progress-bar > .attempted{
 background-color: darken($brand-yellow,20%);
}
.progress-bar > .unattempted{
 background-color: darken($neutral,20%);
}
.progress-bar > .skipped{
 background-color: $brand-yellow;
}
