input[type=text],
input[type=password],
input[type=email]{
  border: 0;
  padding : $padding-x;
  margin : $margin-x 0;
  border-radius : $border-radius;
  box-shadow : inset 1px 1px 5px rgba(0,0,0,0.3);
}
.input-block{
  width: 100%;
}
input[class~="input-wrong"]{
  color : $brand-white;
  background-color: darken($assertive,20%);
}
input[type=radio].hide{
  position: absolute;
  visibility: hidden;
}
