input[type=text].input-control,
input[type=password].input-control,
input[type=email].input-control{
  border: 0;
  padding : $padding-x * 2;
  margin : $margin-x 0;
  border-radius : $border-radius;
  box-shadow : inset 1px 1px 5px rgba(0,0,0,0.3);
}
.input-block{
  width: 100%;
}
input[class~="input-wrong"]{
  color : $brand-white;
  background-color: lighten($assertive,20%);
}
input[type=radio].hide{
  position: absolute;
  visibility: hidden;
}
.icon-inset > .icon{
  position: absolute;
  font-size : 2em;
}
.icon-inset > .icon.icon-left{
  top : 12%;
  left : 15px;
}
.icon-inset > .icon.icon-right{
  top : 12%;
  right : 15px;
}
.icon-inset > .icon-right + input{
  padding-right: 45px !important;
}
.icon-inset > .icon-left + input{
  padding-left: 45px !important;
}
.input-group{
  @include display-flex();
  margin : $margin-y 0;
}
.input-group > .input-group-item.input-control,
.input-group > .input-group-item
{
  margin : 0 !important;
}
.input-group > .input-group-item
{
  @include flex(1);
}
.input-group > .input-control,
{
  @include flex(5);
}
.input-group > .input-group-addon{
  border : 0;
  font-size : 1.8em;
}
@each $name, $color in $color-list{
  .input-group > .input-group-addon-#{$name}{
    background-color: $color;
    color : set-text-color($color);
  }
}
.input-group > .input-group-item:first-child{
  border-radius: $border-radius 0 0 $border-radius !important;
}
.input-group > .input-group-item:not(:first-child):not(:last-child){
  border-radius : 0 !important;
}
.input-group > .input-group-item:last-child{
  border-radius: 0 $border-radius $border-radius 0 !important;
}
