input[type=text].input-control,
input[type=password].input-control,
input[type=email].input-control,
input[type=number].input-control,
{
  border: thin solid lighten($dark, 50%);
  padding : $padding-x * 3 $padding-x * 1.5;
  margin : 0;
}
.item-select{
    border: thin solid lighten($dark, 50%);
    padding : $padding-x $padding-x * 1.5;
    margin : 0px;
}
input[type=text].input-control:not(.input-group-item),
input[type=password].input-control:not(.input-group-item),
input[type=email].input-control:not(.input-group-item),
input[type=number].input-control:not(.input-group-item),
.item-select{
  border-radius: $border-radius;
}
.input-block{
  width: 100%;
}
input[class~="input-wrong"]{
  color : $brand-white;
  background-color: lighten($assertive,20%);
}
input[type=radio].hide{
  position: absolute;
  visibility: hidden;
}
.icon-inset > .icon{
  position: absolute;
  font-size : 2em;
}
.icon-inset > .icon.icon-left{
  top : 12%;
  left : 15px;
}
.icon-inset > .icon.icon-right{
  top : 12%;
  right : 15px;
}
.icon-inset > .icon-right + input{
  padding-right: 45px !important;
}
.icon-inset > .icon-left + input{
  padding-left: 45px !important;
}
.input-group{
  @include display-flex();
  margin : $margin-y / 2 0;
}
.input-group > .input-group-item.input-control,
.input-group > .input-group-item
{
  margin : 0 !important;
}
.input-group > .input-group-item
{
  @include flex(2);
}
.input-group > .input-control,
{
  @include flex(4);
}
.input-group > .input-group-addon{
  border : 0;
  font-size : 1.8em;
}
@each $name, $color in $color-list{
  .input-group > .input-group-addon-#{$name}{
    background-color: $color;
    color : set-text-color($color);
  }
}
.input-group > .input-group-item:first-child{
  border-radius: $border-radius 0 0 $border-radius !important;
  border-right : 0;
}
.input-group > .input-group-item:not(:first-child):not(:last-child){
  border-radius : 0 !important;
}
.input-group > .input-group-item:last-child{
  border-radius: 0 $border-radius $border-radius 0 !important;
  border-top : thin solid lighten($dark, 50%) ;
  border-right : thin solid lighten($dark, 50%) ;
  border-bottom : thin solid lighten($dark, 50%) ;
  border-left : 0 ;
}
.radio > input[type="radio"]{
    visibility: hidden;
    position:absolute;
}
.radio {
    margin: 0 auto;
}

.radio-male{
    height: 270px;
    position: relative;
    background: url('#{$assets-path}/avatar-boy.png') no-repeat top left;
    display: block;
    background-size: contain;
    opacity: 0.6;
    // @include xs-screen{
    //   height: 120px;
    // }
}
.radio-male.checked{
    opacity: 1;
}
.radio-female{
    height: 270px;
    position: relative;
    background: url('#{$assets-path}/avatar-girl.png') no-repeat top right;
    display: block;
    background-size: contain;
    opacity: 0.6;
    // @include xs-screen{
    //   height: 120px;
    //   width: 120px;
    // }
}
.radio-female.checked{
    opacity: 1;
    // background-position: 100% 0 !important;
    // background-size: cover !important;
}

.radio-icon-check .icon{
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
  position: absolute;
  bottom: 0px;
  right: 20%;
  display: none;
}

.radio-icon-check.checked .icon{
  display: block;
}

.radio-graphic-or{
  padding-top: 72px;
  @include xs-screen{
    padding-top: 48px;
  }
}

.input-group-social > .input-group-item:first-child{
  border-radius: $border-radius 0 0 $border-radius !important;
  border-top : thin solid lighten($dark, 50%) ;
  border-left : thin solid lighten($dark, 50%) ;
  border-bottom : thin solid lighten($dark, 50%) ;
  max-width: 40px;
  min-width: 40px;
}
.input-group-social > .input-group-item:not(:first-child){
  max-width: calc(100% - 40px);
}

.input-sm{
  padding: $padding-x*2.5 $padding-x*1.5 !important;
  height: 52px;
}

.select-group-sm{
  height: 52px;
}

.input-sm{
  padding: $padding-x*2.5 $padding-x*1.5 !important;
}

.radio-box{
  display: inline-block;
  float: left;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}

.radio-box.checked{
  background-color: #{$selected-color} !important;
}

.radio-box-container-inner{
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.radio-box-xl{
  height: 100px;
  width: 100px;
}

.radio-box-sm{
  height: 80px;
  width: 80px;
}
