@each $name, $color in $color-list{
  .bg-#{$name}{
    background-color : $color;
  }
}
@each $name, $color in $color-list{
  .color-#{$name}{
    color : $color;
  }
}
.list-inset{
  background-color: transparent;
}
@each $size,$value in ('10':10px,'20':20px,'30':30px,'40':40px){
  .padding-#{$size}{
    padding : $value;
  }
  .padding-y-#{$size}{
    padding : $value 0;
  }
  .padding-x-#{$size}{
    padding : 0 $value;
  }
}
@each $size,$value in ('10':10px,'20':20px,'30':30px,'40':40px){
  .margin-#{$size}{
    margin : $value;
  }
  .margin-y-#{$size}{
    margin : $value 0;
  }
  .margin-x-#{$size}{
    margin : 0 $value;
  }
}
.selected.wrong-attempt,
.wrong-attempt
{
  background-color: lighten($assertive, 20%);
}
.selected.correct-attempt,
.correct-attempt
{
  background-color: lighten($balanced, 20%);
}
.selected{
  box-shadow: 0 0 10px $calm;
  background-color: lighten($dark, 60%);

}
