@each $name, $color in $color-list{
  .bg-#{$name}{
    background : $color;
  }
}
@each $name, $color in $color-list{
  .bg-#{$name}-light{
    background : lighten($color, 10%);
  }
}
@each $name, $color in $color-list{
  .bg-#{$name}-dark{
    background : darken($color, 10%);
  }
}
@each $name, $color in $color-list{
  .color-#{$name}{
    color : $color;
  }
}
@each $name, $color in $color-list{
  .color-#{$name}-light{
    color : lighten($color, 10%);
  }
}
@each $name, $color in $color-list{
  .color-#{$name}-dark{
    color : darken($color, 10%);
  }
}
.list-inset{
  background-color: transparent;
}
@each $size,$value in ('10':10px,'20':20px,'30':30px,'40':40px){
  .padding-#{$size}{
    padding : $value !important;
  }
  .padding-y-#{$size}{
    padding : $value 0 !important;
  }
  .padding-x-#{$size}{
    padding : 0 $value !important;
  }
}
@each $size,$value in ('10':10px,'20':20px,'30':30px,'40':40px){
  .margin-#{$size}{
    margin : $value !important;
  }
  .margin-y-#{$size}{
    margin : $value 0 !important;
  }
  .margin-x-#{$size}{
    margin : 0 $value !important;
  }
}
.slider { height: 100%; }
.scroll { height: 100%; }
.box{
  width : 100%;
  height : 100%;
}
.box.has-footer{
  height: calc(100% - #{$bar-height-large});
}

.scroll-bar-indicator{
  display: none;
}
.fullscreen{
  position: fixed;
  top : 0;
  left : 0;
  right: 0;
  bottom : 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.feedback-modal{
  background: transparent;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(180, 180, 180, 0.75), rgba(0, 0, 0, 0));
}
