.question-subheader{
  height: $question-subheader-height !important;
  top : $bar-height  !important;
  -webkit-box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
-moz-box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
}

.has-question-subheader{
  top: $question-subheader-height+$bar-height !important;
}
.quiz-header{
  border: 0px !important;
}
