.question-subheader{
  height: $question-subheader-height !important;
  top : $bar-height  !important;
  // box-shadow: 0px 4px 4px 0px rgba(29,94,78,1)
//   -webkit-box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
// -moz-box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
// box-shadow: 5px 2px 3px 2px rgba(23, 103, 86, 2.6);
}

.has-question-subheader{
  top: $question-subheader-height+$bar-height !important;
  box-shadow:inset 0px 5px 8px -2px rgba(29,94,78,1);
}
.quiz-header{
  border: 0px !important;
}
