.icon-large{
  font-size: 15em;
}

@each $icon, $icon-name in $icon-list{
  .icon-#{$icon}{
    background-image: url("#{$icon-path}/#{$icon-name}#{$icon-type}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
  }
  .icon-#{$icon}.active{
    background-image: url("#{$icon-path}/#{$icon-name}-active#{$icon-type}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
  }
}

.ed-icon{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 28px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 50px;
}

label .input-label{
  margin-left: -15px;
}


.input-group-social{
}

.icon-fit-width{
    background-size: 50% auto;
}
.icon-fit-height{
    background-size: auto 50%;
}
.icon-contain{
    background-size : contain;
}
.icon-left-align{
  background-position: 5% center;
}

