.modal-light {
  background-color: rgba(255,255,255,0.9);
}
.modal-dark {
  background-color: rgba(0,0,0,0.7);
}
.modal-black {
  background-color: rgba(0,0,0,1);
}
.modal-transparent {
  background-color: transparent;
}
.modal-blue{
  background-color: #184A91;
}
.modal-blue-stars{
  background-color:#004080;
  background-image: url(../img/assets/transparent_star.png);
  background-size: 33%;
}
.modal-gradient {
    background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(0,0,0,1)), color-stop(100%, rgba(76,76,76,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c', GradientType=0 );
}
.modal-rope{
    background-image:url('../img/assets/rope.png');
    background-repeat: no-repeat;
    background-position:  center top;
    background-size : 20px auto;
}
.modal-knot{
    background-size : 45px auto;
    background-image:url('../img/assets/rope_knot.png');
    background-repeat: no-repeat;
    background-position:  center center;

}
.modal-top {
    width : 90%;
    margin : 0 auto;
}
.modal-middle{
    border-radius : $border-radius*4;
    background-color: $brand-pink;
    width : 90%;
    margin : 0 auto;
}
@media all and (orientation:portrait){
    .modal-top{
        height : 5%;
    }
    .modal-middle{
        height : 90%;
    }
    .modal-knot-wrapper{
        height : 15%;
    }
    .modal-body-wrapper{
        height : 60%;
    }
    .resource-list{
        padding : 10px 0;
    }
    .resource-list > li img{
        height : 100%;
    }
}
@media all and (orientation:landscape) {
    .modal-top{
        height : 10%;
    }
    .modal-middle{
        height : 80%;
    }
    .modal-knot-wrapper{
        height : 25%;
    }
    .resource-list > li {
        display: inline-block;
        width: 50%;
    }
    .modal-body-wrapper{
        height : 50%;
    }
    .resource-list > li img{
        height : 100%;
    }
}




.bevel{
  border-radius: 10px;
  box-shadow: -5px -5px 1px #156b55 inset;
}

.rope-menu-item{
  box-sizing: border-box;
  background-color: #219c7f;
  height: 140px;
  width: inherit;
  z-index: 40;
  position: relative;
}

.rope-double-menu{
  width: inherit;
  z-index: 50
}

.rope-double-menu .rope-menu-item:first-child{
  margin-top: 120px;
}

.rope-double-menu .rope-menu-item:first-child::before{
  z-index: 50;
  display: block;
  /*z-index: 50;*/
  /*position: relative;*/
  background: url('../img/assets/rope_top.png') left top no-repeat,url('../img/assets/rope_top.png') right top no-repeat;
  content: "";
  height: 150px;
  width: calc(100% - 40px);
  background-size: contain,contain;
  top: -120px;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
}

.rope-double-menu .rope-menu-item:not(:first-child){
  margin-top: 40px;
}

.rope-double-menu .rope-menu-item:not(:first-child)::before{
  z-index: 50;
  display: block;
  /*z-index: 50;*/
  /*position: relative;*/
  background: url('../img/assets/rope_bottom.png') left top no-repeat,url('../img/assets/rope_bottom.png') right top no-repeat;
  content: "";
  height: 70px;
  width: calc(100% - 40px);
  background-size: contain,contain;
  position: absolute;
  top: -55px;
  margin-left: 20px;
  margin-right: 20px;
}


.round{
  border-radius: 50%;
}

.rope-menu-back{
    position: absolute;
    z-index: 60;
}

.rope-menu-item img{
    height: 80px;
}

.rope-modal-title{
    background: url('../img/assets/ribbon.png') top no-repeat;
    background-size: 100% 100%;
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 70px;
    z-index: 60;
}

.rope-menu-avatar{
    left: 0px;
    position: absolute;
    height: 320px;
    width: 100%;
    z-index: 70;
    background-size: contain !important;
    background-position: bottom left !important;
}