.modal-light {
  background-color: rgba(255,255,255,0.9);
}
.modal-dark {
  background-color: rgba(0,0,0,0.7);
}
.modal-black {
  background-color: rgba(0,0,0,1);
}
.modal-transparent {
  background-color: transparent;
}
.modal-gradient {
    background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(0,0,0,1)), color-stop(100%, rgba(76,76,76,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(76,76,76,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c', GradientType=0 );
}
@media all and (orientation:portrait){
    .modal-top{
        background:url('../img/assets/pause_menu_top.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-middle{
        background:url('../img/assets/pause_menu_middle.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-bottom{
        background:url('../img/assets/pause_menu_bottom.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-button{
        top : -20px;
    }
}
@media all and (orientation:landscape) {
    .modal-top{
        background:url('../img/assets/pause_menu_y_top.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-middle{
        background:url('../img/assets/pause_menu_y_middle.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-bottom{
        background:url('../img/assets/pause_menu_y_bottom.png') no-repeat center center;
        background-size : 95% 105%;
    }
    .modal-button{
        top : -40px;
    }

}
