.timer-container {
  border: 2px solid $brand-green;
  border-radius: $border-radius-round;
  height: 100%;
}
.wrapper {
  position: relative;
}
.wrapper,
.wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 30px;
  height: 30px;
}
.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: $brand-orange;
  border: 2px solid $brand-yellow;
}
.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  // animation: rota 60s linear infinite;
}
.wrapper:hover .filler,
.wrapper:hover .mask,
.wrapper:hover .spinner {
  animation-play-state: running;
}
.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  // animation: opa 60s steps(1, end) infinite reverse;
  border-left: none;
}
.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: $pale;
  opacity: 1;
  z-index: 300;
  border-radius: 20px 0 0 20px;
  // animation: opa 60s steps(1, end) infinite;
}
@keyframes rota {

}
@keyframes opa {
  0% {
    opacity: 1;
  }
  100%,
  50% {
    opacity: 0;
  }
}
