.popup-container{
  background-color: rgba(0,0,0,0.8);
  color : #5e5e5e !important;
}
.popup-container .popup{
  background-color: #FFF !important;
  border-radius: $border-radius;
  box-shadow: 2px 3px 4px 0 rgba(119,119,119,.5)
}
.popup-container .popup-head{
  border: 0px;
  color : #5e5e5e !important;
}

.popup-buttons{
  display: flex;
  justify-content: center;
}
.popup-buttons > .button {
  // background-color: $brand-green !important;
  // color : white !important;
  // border-radius: $border-radius-round;
  box-shadow: none;
  flex: initial !important;
}

.popup-buttons > .button.activated {
  // background-color: $brand-green !important;
  // color : white !important;
  // border-radius: $border-radius-round;
  // box-shadow: none;
  // flex: initial !important;
  background-color: transparent; 
}


.popup-body{
	font-size: 1.5em;
	text-align: center;
}

.popup-head h1, .popup-head h2,
.popup-head h3, .popup-head h4,
.popup-head h5, .popup-head h6{
	font-size: 2em !important;
	padding-top: 10px;
	color: lighten($dark-grey, 10%);
}

.popup-container.custom-alert .popup-head{
  display: none;
}


.popup-body p{
  font-size: 1.1em;
  color: #1E80C3;
}
// .popup-container.custom-alert .popup-body .avatar{
//   height: 150px;
// }