html * {
  font-family: "kg_primary_penmanship_2Rg";
}
h1 { font-size: 2.25em !important; }
h2 { font-size: 2em !important; }
h3 { font-size: 1.75em !important; }
h4 { font-size: 1.5em !important; }
h5 { font-size: 1.25em !important; }
h6 { font-size: 1em !important; }

::-webkit-input-placeholder { overflow: visible; line-height: 1.25em; font-size: 1.25em !important;}
::-moz-placeholder { overflow: visible; line-height: 1.25em; font-size: 1.25em !important;} /* firefox 19+ */
:-ms-input-placeholder { overflow: visible; line-height: 1.25em; font-size: 1.25em !important;} /* ie */
input:-moz-placeholder { overflow: visible; line-height: 1.25em; font-size: 1.25em !important;}

// button ,
// p *{
//   font-size: 1.5em !important;
// }

.text-white{
  color : $brand-white;
}
.text-positive{
  color : darken($positive, 40%);
}
.text-grey{
  color : darken($brand-grey, 40%);
}
.title{
  display: inline-block;
  line-height: 70px;
  font-size:5em;
  font-weight: bold;
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}

@each $name, $size in $font-size{
  .font-#{$name}{
    font-size : $size !important;
    line-height : $size - 0.2;
  }
}

.or-divider{
  line-height: 40px;
}
