<ion-view>
  <ion-content>
    <ion-slide-box>
      <ion-slide >
        <div class="box bg-assertive-light">
          <h3>Thank you for choosing the Awesome App!</h3>
        </div>
      </ion-slide>
      <ion-slide >
        <div class="box bg-brand-light">
          <h3>Using Awesome</h3>
        </div>
      </ion-slide>
      <ion-slide >
        <div class="box bg-royal-light">
          <h3>Any questions?</h3>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
