<ion-view>
  <ion-content>
    <ion-slide-box>
      <ion-slide ng-repeat="slide in introCtrl.slides" active-slide="introCtrl.tabIndex">
        <div class="box {{slide.color}}">
          <div class="row">
            <div class="col text-center"><img width="80%" src="{{slide.img}}" alt=""></div>
          </div>
          <div class="text-center padding-30">
            <strong>
              <h1 class="text-white">{{slide.title}}</h1>
              <p class="text-white">{{slide.description}}</p>
            </strong>
            <button type="button" name="button" class="button button-dark" ui-sref="auth.main">SKIP</button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
