<ion-view>
  <ion-content class="has-header has-footer">
    <div class="list list-inset"><label for="" class="item item-input"><i class="icon ion-search placeholder-icon"></i><input type="text" placeholder="search"></label></div>
    <div class="list">
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
      <div class="item item-avatar">
        <img src="img/search.png" alt="">
        <h3>Lorem ipsum dolor sit.</h3>
        <p> 10th November, 2016 </p>
      </div>
    </div>
  </ion-content>
</ion-view>
