# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/www/modules
/www/_js/
.idea/
*.apk
/www/build/mobile.app.js
/www/build/*
/www/css/
/www/templates/templates.js
.DS_Store
_replicator
_replicator/*
_users
_users/*
pouch__all_dbs__
pouch__all_dbs__/*
#lesson.json
log.txt
config.json
verifyPortLog*
showLessonJson.js
content/*
www/bundled/*
bundled.zip
media/*
