# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
node_modules/
platforms/
/plugins/
/www/modules
/www/_js/
.idea/
*.apk
/www/build/mobile.app.js
/www/build/*
/www/css/
/www/templates/templates.js
/app_modules/templates.js
.DS_Store
_replicator
_replicator/*
_users
_users/*
pouch__all_dbs__
pouch__all_dbs__/*
lesson.json
log.txt
config.json
verifyPortLog*
showLessonJson.js
content/*
www/bundled/*
bundled.zip
media/*
.fuse*
app_modules/common/common.constant.js
www/main.html
www/sound/temp/
www/img/temp
in_app_audio*
*log
verifyNodePresence.js
www/data/lessons.db
www/data/diagnosis_translations.db
www/data/notifications.db
config.xml
www/sound/localized/*
localizedSounds*.zip
temp/