<ion-view class="bg-pale">
  <ion-content>
    <div class="row">
      <form name="verifyOtpForm" class="col padding-30" ng-submit="authCtrl.closeKeyboard() && authCtrl.verifyOtpValidations(verifyOtpForm) && authCtrl.verifyOtp({'code':authCtrl.verification.otp})">

        <div class="list">
            <div class="input-group">
                <input class="input-control font-md" valid-otp name="otp" type="text" placeholder="Enter otp" ng-model="authCtrl.verification.otp">
            </div>
        </div>
        <button type="submit" class="button button-balanced button-block button-round">SUBMIT</button>
        <br><hr><br>
      </form>
    </div>
    <div class="row padding-30">
       <!--<span ng-if="authCtrl.autoVerifyPhoneStatus">{{authCtrl.autVerifyPhoneStatus}}</span>-->
      </div>
    </div>
    <div class="row padding-30">
      <div class="col">
        <button ng-disabled="authCtrl.counter > 0" ng-click="authCtrl.resendOTP()" class="button button-balanced button-block button-round">RESEND OTP<span ng-if="authCtrl.counter > 0"> IN {{authCtrl.counter}}s</span></button>
        <button class="button button-block bg-assertive-light color-stable button-round" ng-click="authCtrl.cancelOTP()">CANCEL</button>
      </div>
    </div>

  </ion-content>
</ion-view>
