<ion-view class="bg-brand">
  <ion-content>
    <div class="row margin-y-40 hide-on-keyboard-open">
      <div class="col col-33 col-offset-33"><img src="img/zaya_logo.png" alt="" class="full-image"></div>
    </div>
  </ion-content>
  <div class="row wrapper-bottom-fixed padding-30 animation-fade-in-from-bottom">
    <div class="col">
      <form
        novalidate
        name="authForm"
        class="list list-inset"
        ng-submit="authForm.$valid && authCtrl.login({'username':authCtrl.user.username, 'password':authCtrl.user.password})"
      >
        <widget-error></widget-error>
        <div class="input-group">
          <input
              type="text"
              name = "username"
              placeholder="username"
              class="input-control input-default input-medium input-group-item"
              ng-class="{'input-wrong':authForm.username.$touched && !authForm.username.$valid}"
              required
              ng-minlength='5'
              ng-maxlength='10'
              ng-pattern="/^[a-z0-9]*$/"
              ng-model="authCtrl.user.username"
              tabindex="1"
            >
          <button type="button" ui-sref="auth.forgot" class="input-group-item input-group-addon input-group-addon-light">
            <i class="icon ion-ios-help-outline"></i>
          </button>
        </div>
        <div ng-messages="authForm.username.$error" ng-show="authForm.username.$touched">
            <div ng-messages-include="templates/common/common.error-msg.view.html"></div>
        </div>
        <div class="input-group" ng-init="showPassword=false">
          <input
            name="password"
            type="{{showPassword?'text':'password'}}"
            placeholder="password"
            class="input-control input-default input-medium input-group-item"
            ng-class="{'input-wrong':authForm.password.$touched && !authForm.password.$valid}"
            ng-minlength="6"
            ng-maxlength="20"
            ng-model="authCtrl.user.password"
            tabindex="2"
          >
          <button type="button" ng-click="showPassword=!showPassword" class="input-group-item input-group-addon input-group-addon-light">
            <i class="icon" ng-class="{'ion-ios-glasses':!showPassword,'ion-ios-glasses-outline':showPassword}"></i>
          </button>
        </div>
        <div ng-messages="authForm.password.$error" ng-show="authForm.password.$touched">
            <div ng-messages-include="templates/common/common.error-msg.view.html"></div>
        </div>
        <button type="submit" class="button button-calm button-block " tabindex="3" ng-disabled="authForm.$invalid">SIGN IN</button>
      </form>
      <div class="text-center">
        <a class="text-white" ui-sref="auth.signup">SIGN UP</a>
      </div>
    </div>
  </div>
</ion-view>
