<ion-view>
  <ion-content>
    <div class="row">
      <form novalidate name="changePasswordForm" class="col padding-30" ng-submit="authCtrl.closeKeyboard() && authCtrl.validCredentialChangePassword(changePasswordForm) && authCtrl.changePassword({'new_password1':authCtrl.resetpassword.password1,'new_password2':authCtrl.resetpassword.password2})">
        <div class="list" >
          <label for="" class="item item-input item-floating-label"><span class="input-label">PASSWORD</span>
            <input tabindex="1" name="password1" type="password" placeholder="PASSWORD" ng-model="authCtrl.resetpassword.password1">
          </label>
          <label for="" class="item item-input item-floating-label"><span class="input-label">CONFIRM PASSWORD</span>
            <input tabindex="2" name="password2" type="password" placeholder="CONFIRM PASSWORD" ng-model="authCtrl.resetpassword.password2">
          </label>
        </div>
        <button ng-disabled="authCtrl.signUpDisabled" tabindex="4" class="button button-block button-positive">Reset</button>
        <br><hr><br>
        </form>
    </div>
  </ion-content>
</ion-view>
