<ion-view>
  <ion-content>
    <div class="row">
      <form novalidate name="forgotPasswordForm" class="col padding-30"
            ng-submit="authCtrl.validateForgotPasswordForm(forgotPasswordForm) && authCtrl.passwordResetRequest({'email':authCtrl.password_reset_credentials.useridentity})">
        <div class="col padding-30">
          <div class="list">
            <label for="" class="item item-input item-floating-label">
              <span class="input-label">EMAIL OR PHONE NO.</span>
              <input name="useridentity" type="text" ng-model="authCtrl.password_reset_credentials.useridentity" placeholder="EMAIL OR PHONE NO.">
            </label>
          </div>
          <button type="submit" class="button button-positive button-block">SEND</button>
          <h4 ng-if="authCtrl.resetPasswordLinkSent == false">We will send a reset password link to your email or phone no.</h4>
          <h4 ng-if="authCtrl.resetPasswordLinkSent == true">We have sent a reset password link to your email or phone no.</h4>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
