<ion-modal-view class="modal-light" ng-click="authCtrl.recoveryModal.hide()">
  <ion-content >
    <div class="row" >
      <form
        novalidate
        name="recoverAccountForm"
        class="col padding-30"

        ng-submit="authCtrl.closeKeyboard();authCtrl.recoverAccount(recoverAccountForm)">
        <div class="card card-pink padding-20" ng-click="$event.stopPropagation()">
          <h2 class="text-center color-dark-light">Forgot password</h2>
          <h4 class="text-center color-dark-light padding-10">
            We will send a reset password link to your email or phone
            <!-- {{authCtrl.resetPasswordLinkSent == false ? 'We will send a reset password link to your email or phone no.' : 'We have sent a reset password link to your email or phone no.'}} -->
          </h4>
          <div class="input-group input-group-social">
            <button type="button" class="icon icon-profile icon-fit-width input-group-item input-group-addon input-group-addon-light font-md"></button>
            <input class="input-control input-group-item input-default font-md" name="userIdentity" type="text" ng-model="authCtrl.password_reset_credentials.useridentity" placeholder="Phone / Email" autocomplete="off">
          </div>
          <button type="submit" class="button button-green button-round button-block ">
            SEND
            <!-- {{authCtrl.resetPasswordLinkSent == false ? 'SEND' : 'DONE'}} -->
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
