<ion-view class="bg-brand">
  <ion-content>
    <div class="row margin-y-40 hide-on-keyboard-open">
      <div class="col col-33 col-offset-33"><img src="img/zaya_logo.png" alt="" class="full-image"></div>
    </div>
  </ion-content>
  <div class="row wrapper-bottom-fixed padding-30 animation-fade-in-from-bottom">
    <div class="col">
      <form class="list list-inset">
        <input class="input-control input-wrong input-medium input-block" type="text" placeholder="username" ng-model="authCtrl.user.username">
        <input class="input-control input-default input-medium input-block" type="password" placeholder="password" ng-model="authCtrl.user.password">
        <h5>
          <a class="text-white" ui-sref="auth.forgot">forgot your details?</a>
        </h5>
        <button class="button button-calm button-block " ng-click="authCtrl.login({'username':authCtrl.user.username, 'password':authCtrl.user.password})">SIGN IN</button>
      </form>
      <div class="text-center">
        <a class="text-white" ui-sref="auth.signup">SIGN UP</a>
      </div>
    </div>
  </div>
</ion-view>
<!-- <ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
  </ion-content>
</ion-view> -->
