<ion-tabs class="tabs-icon-only tabs-stable">
  <ion-tab title="Profile" icon="ion-person" ui-sref="user.main.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Playlist" icon="ion-ios-list-outline" ui-sref="user.main.playlist">
    <ion-nav-view name="playlist-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Home" icon="ion-ios-home-outline" ui-sref="user.main.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Result" icon="ion-stats-bars" ui-sref="user.main.result">
    <ion-nav-view name="result-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon="ion-ios-search" ui-sref="search.main">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
