<!-- <ion-view class="bg-pale">
  <ion-content>
      <form name="personaliseForm" class="row" novalidate ng-submit="userCtrl.closeKeyboard();userCtrl.createProfile(personaliseForm)">
          <div class="col no-padding">
              <div class="row ">
                  <div class="col text-center">
                      <h3>Are you a ...</h3>
                  </div>
              </div>
              <div class="row no-padding">
                  <div class="col text-center no-padding">
                      <label for="" class="radio radio-male radio-icon-check" ng-class="{'checked':userCtrl.user.gender=='M'}">
                          <i class="font-xl color-blue icon ion-checkmark-circled"></i>
                          <input type="radio" name="gender" value="M" ng-model="userCtrl.user.gender">
                      </label>
                  </div>
                  <div class="radio-graphic-or font-md">or</div>
                  <div class="col text-center no-padding">
                      <label for="" class="radio radio-female radio-icon-check" ng-class="{'checked':userCtrl.user.gender=='F'}">
                          <i class="font-xl color-blue icon ion-checkmark-circled"></i>
                          <input type="radio" name="gender" value="F" ng-model="userCtrl.user.gender">
                      </label>
                  </div>
              </div>
              <div class="row no-padding" >
                  <div class="col text-center font-md no-padding">Boy</div>
                  <div class="font-md visible-none">or</div>
                  <div class="col text-center font-md no-padding">Girl</div>
              </div>
              <div class="padding-10">

              </div>
              <div class="row">
                  <div class="col">
                      <div class="input-group input-group-social no-margin">
                          <i class="icon ion-search placeholder-icon"></i>
                          <div type="button" class="input-group-item input-group-addon input-group-addon-light font-sm">
                            <i class="ed-icon icon-contain icon-profile"></i>
                          </div>
                          <input type="text" name="firstName" class="input-control input-default input-group-item font-sm input-sm" tabindex="2" placeholder="Name" ng-model="userCtrl.user.first_name">

                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col" ng-init="userCtrl.grades = [{id : 0, name : 'KG'},{id : 1, name : 'Grade 1'}, {id : 2, name : 'Grade 2'}, { id : 3, name : 'Grade 3'}]">
                      <label for="" class="item item-input item-select select-group-sm">
                          <div class="input-label font-sm"><i class="ed-icon icon-contain icon-grade"></i>&nbsp;Grade</div>
                          <select name="grade" class="font-sm" ng-model="userCtrl.user.grade"
                          ng-options="option.id as option.name for option in userCtrl.grades track by option.id" required>
                          <option value="" selected hidden />
                          </select>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col" ng-init="userCtrl.langs = [{id : 1, name : 'Hindi'}, {id : 2, name : 'Bengali'}, {id : 3, name : 'Gujrati'}, {id : 4, name : 'Punjabi'}]">
                      <label for="motherTongue" class="item item-input item-select select-group-sm">
                          <div class="input-label font-sm"><i class="ed-icon icon-contain icon-language"></i>&nbsp;Mothertongue</div>
                          <select id="motherTongue" name="motherTongue" class="font-sm" ng-model="userCtrl.user.language"
                          ng-options="option.id as option.name for option in userCtrl.langs track by option.id" required>
                          <option value="" selected hidden />
                              </select>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col text-center padding-30">
                      <button type="submit"  class="button button-balanced button-round padding-x-40 padding-y-0 no-shadow">DONE</button>
                  </div>
              </div>
          </div>
      </form>
  </ion-content>
</ion-view> -->
<ion-view class="bg-yellow">
    <ion-content>
        <ion-slide-box delegate-handle="slide" show-pager="false" ng-init="userCtrl.disableSwipe()">
            <ion-slide>
                <div class="box">
                    <div class="name-avatar">
                    </div>
                    <div class="row padding-x-10">
                        <div class="col center">
                            <h2 class="center" style="font-size:2.5em !important;color:#48494B;line-height:1.8em">My name is...</h2>
                            <div class="col" ng-init="userCtrl.user.name=''">
                                <div class="row">
                                    <div class="col font-lg" style="line-height:0.8em;border-bottom:1px solid black;color:#48494B;">{{userCtrl.user.name}}&nbsp;</div>
                                </div>
                                <br>
                                <virtual-keyboard reference="userCtrl.user.name"></virtual-keyboard>
                                <button ng-disabled="!userCtrl.user.name" class="button button-balanced button-round margin-20 padding-x-40 font-md" ng-click="userCtrl.nextSlide()"><i class="ed-icon lg icon-contain icon-next-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="row padding-20">
                        <div class="col">
                            <h1 class="center margin-10">I am a ...</h1>
                            <div class="row no-padding">
                                <div class="col text-center no-padding">
                                    <label for="" class="radio radio-male radio-icon-check" ng-class="{'checked':userCtrl.user.gender=='M'}">
                                        <!-- <i class="font-xl color-blue icon ion-checkmark-circled"></i> -->
                                        <input type="radio" name="gender" value="M" ng-model="userCtrl.user.gender">
                                    </label>
                                    <div style="padding-left:40px;text-align:left;font-weight:600;" class="font-xl color-balanced">
                                      BOY
                                    </div>
                                </div>
                                <!-- <div class="radio-graphic-or font-md">or</div> -->
                                <div class="col text-center no-padding">
                                    <label for="" class="radio radio-female radio-icon-check" ng-class="{'checked':userCtrl.user.gender=='F'}">
                                        <!-- <i class="font-xl color-blue icon ion-checkmark-circled"></i> -->
                                        <input type="radio" name="gender" value="F" ng-model="userCtrl.user.gender">
                                    </label>
                                    <div style="padding-right:40px;text-align:right;font-weight:600;" class="font-xl color-balanced">
                                      GIRL
                                    </div>
                                </div>
                            </div>
                            <center>
                              <button ng-disabled="!userCtrl.user.gender" class="button button-balanced button-round margin-20 padding-x-40 font-md" ng-click="userCtrl.nextSlide()"><i class="ed-icon lg icon-contain icon-next-2"></i></button>
                            </center>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="row padding-20">
                        <div class="col">
                            <center>
                              <img ng-src="{{userCtrl.user.gender == 'M'?'../img/assets/upperbody-boy.png':'../img/assets/upperbody-girl.png'}}" alt="">
                            </center>
                            <h1 class="center">I am in class ...</h1>
                            <div class="radio-box-container-outer">
                              <div class="radio-box-container-inner">
                                <label style="line-height:120px;" class="margin-10 radio radio-box font-sxl bg-pink center color-balanced" ng-repeat="grade in [1,2,3]" ng-class="{'checked':userCtrl.user.grade == grade,'margin-x-70':$index == 0}">{{grade}}
                                  <input type="radio" name="grade" value="{{grade}}" ng-model="userCtrl.user.grade">
                                </label>
                              </div>
                            </div>
                            <center>
                              <button ng-disabled="!userCtrl.user.grade" class="button button-balanced button-round margin-20 padding-x-40 font-md" ng-click="userCtrl.createProfile(userCtrl.user)"><i class="ed-icon lg icon-contain icon-next-2"></i></button>
                            </center>

                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
