<div class="row">
  <div class="col col-33 col-offset-33">
    <div class="text-center"><h1 class="ion-android-lock"></h1></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="list list-inset text-center">
      <h3>
        <strong>FORGOT YOUR DETAILS?</strong>
      </h3>
      <span>No need to worry. Enter your email below to receive instruction</span>
      <label for="" class="item item-input">
        <input type="email" placeholder="email">
      </label>
      <button class="button button-positive button-block ">SEND</button>
    </div>
  </div>
</div>
