<ion-view>
    <ion-content scroll="false">
        <videogular vg-theme="contentCtrl.config.theme" vg-player-ready="contentCtrl.onPlayerReady($API)" vg-auto-play="contentCtrl.config.autoplay" vg-update-state="contentCtrl.onStateChange($state)">
            <vg-media vg-src="contentCtrl.config.sources">
            </vg-media>
            <vg-buffering></vg-buffering>
            <vg-controls vg-autohide="contentCtrl.config.plugins.controls.autoHide" vg-autohide-time="contentCtrl.config.plugins.controls.autoHideTime">
                <vg-play-pause-button ng-click="openNodeMenu()"></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:"mm:ss" : 'UTC' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:"mm:ss" : 'UTC' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
            </vg-controls>

            <!-- <vg-overlay-play ng-click="openNodeMenu()"></vg-overlay-play> -->

        </videogular>
    </ion-content>
</ion-view>
