<ion-view>
    <ion-content scroll="false">
        <videogular vg-theme="contentCtrl.config.theme" vg-player-ready="contentCtrl.onPlayerReady($API)" vg-auto-play="contentCtrl.config.autoplay" vg-update-state="contentCtrl.onStateChange($state)" vg-complete="lessonutils.demoFactory.getStep() == 3 && lessonutils.demoFactory.setStep(4);lessonutils.demoFactory.getStep() == 4 && lessonutils.playDemoAudio(lessonutils.getLocalLesson().node);contentCtrl.onVideoComplete()">
            <vg-media vg-src="contentCtrl.config.sources" ng-click="contentCtrl.toggleControls()">
            </vg-media>
            <vg-buffering></vg-buffering>
            <vg-controls vg-show-control="contentCtrl.config.plugins.controls.showControl" ng-class="{true:'animation-fade-in', false:'animation-fade-out'}[contentCtrl.config.plugins.controls.showControl]" ng-show="contentCtrl.config.plugins.controls.showControl">
                <vg-play-pause-button ng-click="openNodeMenu()"></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:"mm:ss" : 'UTC' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:"mm:ss" : 'UTC' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
            </vg-controls>
            <!-- <vg-overlay-play ></vg-overlay-play> -->
        </videogular>
    </ion-content>
</ion-view>
