<ion-modal-view style="height:100%;" class="modal-dark" >
    <div style="height:100%;" class="vertical-center">
        <div style="text-align: center;position: absolute;width: 100%;">
            <img height="180" src="img/assets_svg/{{lessonutils.getGender()=='M'? 'boy' : 'girl'}}-ribbon.svg">
            <h5 style="position: absolute;top: 100px;width: 100%" class="margin-0 padding-y-10 padding-x-20 text-center color-white">{{selectedNode.node.title.split('-', 2).join('-');}}</h5>
        </div>
    </div>
</ion-modal-view>

<!--  -->
