<ion-view>
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-body">
            <img src="img/subject.jpg" alt="" class="full-image">
            <a href="#/user/main/home">Lorem ipsum dolor sit.</a>
          </div>
        </div>
        <div class="list card">
          <div class="item item-body">
            <img src="img/subject.jpg" alt="" class="full-image">
            <a href="#/user/main/home">Lorem ipsum dolor sit.</a>
          </div>
        </div>
        <div class="list card">
          <div class="item item-body">
            <img src="img/subject.jpg" alt="" class="full-image">
            <a href="#/user/main/home">Lorem ipsum dolor sit.</a>
          </div>
        </div>
      </div>
      <div class="col">
          <div class="list card">
            <div class="item item-body">
              <img src="img/subject.jpg" alt="" class="full-image">
              <a href="#/user/main/home">Lorem ipsum dolor sit.</a>
            </div>
          </div>
          <div class="list card">
            <div class="item item-body">
              <img src="img/subject.jpg" alt="" class="full-image">
              <a href="#/user/main/home">Lorem ipsum dolor sit.</a>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
