<ion-view class="bg-pale">
  <ion-content>
      <form name="personaliseForm" class="row" novalidate ng-submit="profileCtrl.closeKeyboard();profileCtrl.createProfile(personaliseForm)">
          <div class="col no-padding">
              <div class="row ">
                  <div class="col text-center">
                      <h3>Are you a ...</h3>
                  </div>
              </div>
              <div class="row no-padding">
                  <div class="col text-center no-padding">
                      <label for="" class="radio radio-male radio-icon-check" ng-class="{'checked':profileCtrl.user.gender=='M'}">
                          <i class="font-xl color-blue icon ion-checkmark-circled"></i>
                          <input type="radio" name="gender" value="M" ng-model="profileCtrl.user.gender">
                      </label>
                  </div>
                  <div class="radio-graphic-or font-md">or</div>
                  <div class="col text-center no-padding">
                      <label for="" class="radio radio-female radio-icon-check" ng-class="{'checked':profileCtrl.user.gender=='F'}">
                          <i class="font-xl color-blue icon ion-checkmark-circled"></i>
                          <input type="radio" name="gender" value="F" ng-model="profileCtrl.user.gender">
                      </label>
                  </div>
              </div>
              <div class="row no-padding" >
                  <div class="col text-center font-md no-padding">Boy</div>
                  <div class="font-md visible-none">or</div>
                  <div class="col text-center font-md no-padding">Girl</div>
              </div>
              <div class="padding-10">

              </div>
              <div class="row">
                  <div class="col">
                      <div class="input-group input-group-social no-margin">
                          <!-- <i class="icon ion-search placeholder-icon"></i> -->
                          <div type="button" class="input-group-item input-group-addon input-group-addon-light font-sm">
                            <i class="ed-icon icon-contain icon-profile"></i>
                          </div>
                          <input type="text" name="firstName" class="input-control input-default input-group-item font-sm input-sm" tabindex="2" placeholder="Name" ng-model="profileCtrl.user.first_name">

                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col" ng-init="profileCtrl.grades = [{id : 1, name : 'Grade 1'}, {id : 2, name : 'Grade 2'}, { id : 3, name : 'Grade 3'}, { id : 4, name : 'Grade 4'}]">
                      <label for="" class="item item-input item-select select-group-sm">
                          <div class="input-label font-sm"><i class="ed-icon icon-contain icon-grade"></i>&nbsp;Grade</div>
                          <select name="grade" class="font-sm" ng-model="profileCtrl.user.grade"
                          ng-options="option.id as option.name for option in profileCtrl.grades track by option.id" required>
                          <option value="" selected hidden />
                          </select>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col" ng-init="profileCtrl.langs = [{id : 1, name : 'Hindi'}, {id : 2, name : 'Bengali'}, {id : 3, name : 'Gujrati'}, {id : 4, name : 'Punjabi'}]">
                      <label for="motherTongue" class="item item-input item-select select-group-sm">
                          <div class="input-label font-sm"><i class="ed-icon icon-contain icon-language"></i>&nbsp;Mothertongue</div>
                          <select id="motherTongue" name="motherTongue" class="font-sm" ng-model="profileCtrl.user.language"
                          ng-options="option.id as option.name for option in profileCtrl.langs track by option.id" required>
                          <option value="" selected hidden />
                              </select>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col text-center padding-30">
                      <button type="submit"  class="button button-balanced button-round padding-x-40 padding-y-0 no-shadow">DONE</button>
                  </div>
              </div>
          </div>
      </form>
  </ion-content>
</ion-view>
