<ion-view class="bg-brand">
  <div class="cover cover-brand">
    <div class="toolbox" ui-sref="user.main.settings">
      <i class="icon ion-android-settings text-white"></i>
    </div>
    <div class="avatar">
      <img src="img/profile.jpg" alt="profile image">
    </div>
    <h3 class="name text-white">
      Lorem ipsum dolor.
    </h3>
  </div>
  <div class="tabs-striped tabs-top tabs-brand tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ng-click="profileCtrl.tabIndex=$index" ng-repeat="tab in profileCtrl.tab" ng-class="{'active':profileCtrl.tabIndex==$index}">
        <i class="icon" ng-class="tab.icon"></i>
      </a>
    </div>
  </div>
  <ion-content class="has-cover-tabs">
    <ion-slide-box show-pager="false" active-slide="profileCtrl.tabIndex">
      <ion-slide ng-repeat="tab in profileCtrl.tab">
        <ng-include src="tab.path"></ng-include>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
