<ion-view>
  <ion-pane class="has-header has-footer has-tabs">
    <ion-tabs class="tabs-calm tabs-top">
      <ion-tab href="#/user/main/profile/groups" icon="ion-person-stalker">
        <ion-nav-view name="group-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab href="#/user/main/profile/badges" icon="ion-trophy">
        <ion-nav-view name="badge-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
    <!-- <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-image"><img src="img/cover.jpg" alt="cover picture"></div>
          <div class="item item-avatar">
            <img src="img/profile.jpg" alt="profile picture">
            <h2>Haba baba ba</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div> -->
  </ion-pane>
</ion-view>
