<div class="cover cover-brand">
  <div class="toolbox">
    <i class="icon ion-android-settings"></i>
  </div>
  <div class="avatar">
    <img src="img/profile.jpg" alt="profile image">
  </div>
  <h3 class="name">
    Lorem ipsum dolor.
  </h3>
  <!-- <p class="desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, accusamus.
  </p> -->
</div>
<div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
  <div class="tabs">
    <a ui-sref="user.main.profile.groups" class="tab-item" ui-sref-active="active">
      <i class="icon ion-person-stalker"></i>
    </a>
    <a ui-sref="user.main.profile.badges" class="tab-item" ui-sref-active="active">
      <i class="icon ion-trophy"></i>
    </a>
  </div>
</div>
<ion-nav-view name="state-profile-tab"></ion-nav-view>
