
<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-toggle">
        Music
        <label for="" class="toggle toggle-positive">
          <input type="checkbox"><span class="track"><span class="handle"></span></span>
        </label>
      </div>
      <div class="item item-toggle">
        Sound
        <label for="" class="toggle toggle-positive">
          <input type="checkbox"><span class="track"><span class="handle"></span></span>
        </label>
      </div>
      <div class="item item-toggle">
        Automate Sync
        <label for="" class="toggle toggle-positive">
          <input type="checkbox"><span class="track"><span class="handle"></span></span>
        </label>
      </div>
      <div class="item" ng-click="profileCtrl.logout()">logout</div>
    </div>
  </ion-content>
</ion-view>
