<ion-content>
  <div class="list card">
    <a href="" class="item item-thumbnail-left">
      <img src="img/thumb.jpg" alt="">
      <h2>Lorem ipsum.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, facere!</p>
    </a>
  </div>
  <div class="list card">
    <a href="" class="item item-thumbnail-left">
      <img src="img/thumb.jpg" alt="">
      <h2>Lorem ipsum.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, facere!</p>
    </a>
  </div>
  <div class="list card">
    <a href="" class="item item-thumbnail-left">
      <img src="img/thumb.jpg" alt="">
      <h2>Lorem ipsum.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, facere!</p>
    </a>
  </div>
</ion-content>
