<ion-view class="bg-assertive">
  <div class="row">
    <div class="col col-33 col-offset-33">
      <div class="text-center"><h1 class="text-white icon-large ion-android-lock"></h1></div>
    </div>
  </div>
  <div class="row wrapper-bottom-fixed">
    <div class="col">
      <div class="list list-inset text-center">
        <h3>
          <strong class="text-white">FORGOT YOUR DETAILS?</strong>
        </h3>
        <span class="text-white">No need to worry. Enter your email below to receive instruction</span>
        <input class="input-default input-block" type="email" placeholder="email">
        <button class="button button-positive button-block ">SEND</button>
      </div>
    </div>
  </div>
</ion-view>
