<ion-pane class="bg-assertive">
  <div class="row">
    <div class="col col-33 col-offset-33"><img src="img/zaya_logo.png" alt="" class="full-image"></div>
  </div>
  <div class="row wrapper-bottom-fixed">
    <div class="col">
      <div class="list list-inset">
        <button class="button button-positive button-block " ui-sref="auth.signin">SIGN IN</button>
        <button class="button button-positive button-block " ui-sref="auth.signup">SIGN UP</button>
      </div>
    </div>
  </div>
</ion-pane>
