<ion-view class="bg-brand">
  <div class="row margin-y-40 hide-on-keyboard-open">
    <div class="col col-33 col-offset-33 padding"><img src="img/zaya_logo.png" alt="" class="full-image"></div>
  </div>
  <div class="row hide-on-keyboard-open">
    <div class="col padding-30">
      <div class="text-center"><h3 class="text-white">Sign up and be a part of the personalised learning</h3></div>
    </div>
  </div>
  <div class="row wrapper-bottom-fixed padding-30">
    <div class="col padding">
      <input class="input-control input-default input-medium input-block" type="text" placeholder="username">
      <input class="input-control input-default input-medium input-block" type="email" placeholder="email">
      <input class="input-control input-default input-medium input-block" type="password" placeholder="password">
      <button class="button button-calm button-block " ng-click="authCtrl.audio.play('water-drop');authCtrl.signup()">SIGN UP</button>
      <div class="text-center">
        <a class="text-white" ui-sref="auth.signin" >SIGN IN</a>
      </div>
    </div>
  </div>
</ion-view>
