<ion-view view-title="playlist" ng-init="t=600;collapsed=true" class="bg-brand">
  <ion-content delegate-handle="playlistScrollBottom">
    <div class="row" >
      <div class="col padding-10">
        <div ng-click="collapsed=!collapsed" class="list card text-dark padding-20 animation-stack-in animation-wait" style="-webkit-animation-delay:{{t - (t/(playlist.length-1))*$index}}ms" ng-repeat="node in playlistCtrl.playlist.children as playlist" >
          {{node.title}}
          <p ng-if="!collapsed">
            {{node.description}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="wrapper-bottom-fixed has-footer bg-brand padding-20 text-center text-white">
    This is parent
  </div>
</ion-view>
