<ion-modal-view class="modal-transparent">
  <ion-content overflow-scroll="true">
    <div class="row">
      <div class="col">
        <div class="card card-dark padding-x-20">
          <div class="row">
            <div class="col">
              <div class="text-center">
                <button class="button button-balanced button-sm button-round font-xs float-left" ng-click="userCtrl.closeSettings()">
                    <i class="color-dark font-xs icon ion-arrow-left-c"></i>
                </button>
                <strong class="color-light font-xl">SETTINGS</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-profile icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input ng-disabled="!userCtrl.network.isOnline()" class="input-control input-group-item input-sm input-default input-block font-md" tabindex="1" type="text" placeholder="Username" ng-model="userCtrl.user.name" ng-change="userCtrl.splitName()">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-phone icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input ng-disabled="!userCtrl.network.isOnline()" type="text" class="input-control input-default input-group-item input-sm input-block font-md" tabindex="2" placeholder="Phonenumber" ng-model="userCtrl.user.phone_number">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-mail icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input ng-disabled="!userCtrl.network.isOnline()" type="text" class="input-control input-default input-sm input-group-item input-block font-md" tabindex="2" placeholder="Email" ng-model="userCtrl.user.email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button ng-disabled="!userCtrl.network.isOnline()" class="button button-block button-assertive button-sm font-lg no-shadow" ng-click="userCtrl.network.isOnline() && userCtrl.logout()">
                 <i class="ion-power"></i> Logout
              </button>
            </div>
          </div>
          <div class="row padding-y-20">
            <div class="col text-center">
              <button ng-disabled="!userCtrl.network.isOnline()" class="button button-balanced font-lg padding-x-40 button-round no-shadow" ng-click="userCtrl.network.isOnline() && userCtrl.updateProfile(userCtrl.user.id,{'first_name' : userCtrl.user.first_name,'last_name' : userCtrl.user.last_name,'phone_number':userCtrl.user.phone_number,'email':userCtrl.user.email}) ; userCtrl.closeSettings()">{{userCtrl.network.isOnline() ? 'DONE' : 'Not Allowed'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
