<ion-modal-view class="modal-dark">
  <ion-content ng-init="mapCtrl.selected=false" overflow-scroll="true">
    <!-- <div class="row row-100" style="background:url('img/assets/rope_menu.png') no-repeat center top; background-size : auto 98%">
          <div class="col"></div>
      </div> -->
    <div class="row row-5 modal-top padding-0">
      <div class="col modal-rope"></div>
      <div class="col"></div>
      <div class="col modal-rope"></div>
    </div>
    <div class="height-90 modal-middle">
        <div class="row row-15 padding-0">
            <div class="col modal-knot"></div>
            <div class="col center padding-y-30">
                <img ng-src="img/icons/icon-{{selectedNode.node.tag.toLowerCase()}}.png" width="40px" height="auto">
            </div>
            <div class="col modal-knot"></div>
        </div>
      <div class="row height-10">
        <div class="col text-center font-md">
          <h5>{{selectedNode.node.title}}</h5>
        </div>
      </div>
      <div class="row height-60" style="margin:0">
        <div class="col col-40 avatar" style="background:url('img/assets/avatar-girl.png') no-repeat center center; background-size : auto 100%"></div>
        <div class="col col-center col-60 height-90">
          <ul class="resource-list height-100">
            <li ng-repeat="resource in selectedNode.objects" class="text-center padding-x-20 capitalize" ng-hide="lessonutils.resourceType(resource)=='assessment'">
              <img ui-sref-active="active" ng-class="{'active':$index==0,'not-active':$index==1}" ng-src="{{lessonutils.getIcon(resource)}}" alt="resource icon" ng-click="selected=true;$event.stopPropagation();closeNodeMenu();lessonutils.playResource(resource,contentCtrl.API);" />
              <!-- <br> {{lessonutils.resourceType(resource)}} -->
            </li>
          </ul>
        </div>
      </div>
      <div class="row height-10">
        <div class="col text-center">
          <a class="button button-green button-round padding-x-30 font-md" ui-sref="map.navigate" ng-click="closeNodeMenu();mapCtrl && mapCtrl.resetNode()">Leave Lesson</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
