<ion-modal-view class="modal-dark">
  <ion-content ng-init="mapCtrl.selected=false" overflow-scroll="true">
      <div class="row row-20 modal-top">
          <div class="col"></div>
      </div>
      <div class="height-60 modal-middle">
          <div class="row height-10">
            <div class="col text-center font-md">
                {{selectedNode.node.title}}
            </div>
          </div>
          <div class="row height-90" style="margin:0">
              <div class="col avatar" style="background:url('img/assets/avatar-boy.png') no-repeat center center; background-size : auto 80%"></div>
              <div class="col col-center height-90">
                  <ul class="resource-list height-100">
                      <li ng-repeat="resource in selectedNode.objects" class="text-center capitalize">
                          <img ui-sref-active="active" class="width-auto height-70" ng-src="{{lessonutils.getIcon(resource)}}" alt="resource icon" ng-click="selected=true;$event.stopPropagation();closeNodeMenu();lessonutils.playResource(resource,contentCtrl.API);" />
                          <br>
                          {{lessonutils.resourceType(resource)}}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row row-10 modal-bottom">
          <div class="col text-center">
              <a class="button button-green button-round padding-x-30 modal-button" ui-sref="map.navigate" ng-click="closeNodeMenu();mapCtrl && mapCtrl.resetNode()">Leave Lesson</a>
          </div>
      </div>
  </ion-content>
</ion-modal-view>
