<ion-modal-view class="modal-transparent">
  <ion-content overflow-scroll="true">
    <div class="row">
      <div class="col">
        <div class="card card-dark padding-x-20">
          <div class="row">
            <div class="col">
                <button class="button button-clear font-lg color-pale button-block" ng-click="mapCtrl.closeSettings()">
                    <i class="icon ion-arrow-left-c"></i>
                    <strong>SETTINGS</strong>
                </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-profile icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input class="input-control input-group-item input-default input-block font-md" tabindex="1" type="text" placeholder="Username" ng-model="mapCtrl.user.name">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-phone icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input type="text" class="input-control input-default input-group-item input-block font-md" tabindex="2" placeholder="Phonenumber" ng-model="mapCtrl.user.phone_number">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group input-group-social">
                  <button type="button" class="icon icon-mail icon-fit-width input-group-item input-group-addon input-group-addon-light font-md">
                  </button>
                  <input type="text" class="input-control input-default input-group-item input-block font-md" tabindex="2" placeholder="Email" ng-model="mapCtrl.user.email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-block button-assertive font-md icon-left ion-power" ng-click="mapCtrl.logout()">
                Logout
              </button>
            </div>
          </div>
          <div class="row padding-y-20">
            <div class="col text-center">
              <button class="button button-balanced font-lg padding-x-40" ng-click="mapCtrl.closeSettings()">DONE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
