<ion-modal-view class="modal-transparent">
  <ion-content overflow-scroll="true">
    <div class="row">
      <div class="col">
        <div class="card card-dark padding-20">
          <div class="row">
            <div class="col text-center">
              <h3><strong class="color-pale">SETTINGS</strong></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group">
                  <button type="button" class="input-group-item input-group-addon input-group-addon-light font-md icon-profile">
                  </button>
                  <input type="text" class="input-control input-default input-group-item font-md" tabindex="2" placeholder="Password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group">
                  <button type="button" class="input-group-item input-group-addon input-group-addon-light font-md icon-phone">
                  </button>
                  <input type="text" class="input-control input-default input-group-item font-md" tabindex="2" placeholder="Password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <div class="input-group">
                  <button type="button" class="input-group-item input-group-addon input-group-addon-light font-md icon-email">
                  </button>
                  <input type="text" class="input-control input-default input-group-item font-md" tabindex="2" placeholder="Password">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-block button-assertive font-md">logout</button>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="button button-green font-lg padding-x-40">DONE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
