<ion-modal-view class="modal-dark">
    <ion-content ng-init="mapCtrl.selected=false" scroll="true">
        <div class="row height-5">
            <div class="col"></div>
        </div>
        <!-- <div class="row height-40" ng-show="!selectedNode">
            <div class=""></div>
            <div class="col animation-delay-more animation-fade-in-from-top center" style="background:url('img/assets/cloud.png') no-repeat center center; background-size : auto 100%;padding: 12vh 0;font-size: 5vh;line-height: 5vh;">
                <div>
                    Welcome to<br />English Duniya
                </div>
            </div>
        </div> -->
        <!-- <div class="row height-50" ng-show="!selectedNode">
            <div class="col animation-delay-more animation-fade-in-from-left" style="background:url('img/assets/avatar-{{lessonutils.getGender()=='M'? 'boy' : 'girl'}}.png') no-repeat left center; background-size : auto 100%"></div>
        </div> -->
        <!-- <div class="animation-repeat-bounce" ng-show="!selectedNode" ng-click="$emit('openNode', mapCtrl.getNodeProperty('node'))" style="width:{{mapCtrl.getNodeProperty('width')}}px;height:{{mapCtrl.getNodeProperty('height')}}px;position:absolute;left:{{mapCtrl.getNodeProperty('x')}}px;top:{{mapCtrl.getNodeProperty('y')}}px;border-radius:50%;border:3px solid #39B89A;background : url('img/icons/icon-{{mapCtrl.getNodeProperty('type')}}.png') #FCF3D8 no-repeat center center; background-size : auto 50%">
        </div> -->
        <div class="row height-25">
            <div class="col">

            </div>
        </div>
        <div class="row height-50">
            <div class="col height-100">
                <center>
                    <!-- <button class="sbtn sbtn-"></button> -->
                    <!-- <div class="" ng-show="!selectedNode" ng-click="$emit('openNode', mapCtrl.getNodeProperty('node'));mapCtrl.setAnimateStarFlag();" style="width:60vw;height:60vw;border-radius:50%;border:3px solid #39B89A;background : url('img/icons/icon-{{mapCtrl.getNodeProperty('type')}}.png') #FCF3D8 no-repeat center center; background-size : auto 50%">
                    </div> -->
                    <button ng-show="!selectedNode" style="height: 180px;width: 176px;" ng-click="$emit('openNode', mapCtrl.lessons[0]);mapCtrl.setAnimateStarFlag();" class="sbtn sbtn-node-{{mapCtrl.lessons[0].node.content_type_name == 'assessment'?'practice':'video'}}-{{mapCtrl.nodeColors[mapCtrl.lessons[0].node.tag.toLowerCase()]}}"></button>
                </center>
            </div>
        </div>
        <div ng-show="!selectedNode" class="demo-point animation-repeat-point"><img src="img/assets/finger_point.png" alt="pointing finger"></div>
    </ion-content>
</ion-modal-view>
