<ion-pane class="bg-green">
  <div class="bar bar-header bg-pale quiz-header">
    <div class="col">
      <a ng-click="quizCtrl.pauseQuiz()" style="width:28px;display: inline-block;height: 26px;" class="icon-pause"></a>
    </div>
    <div class="col" align="right">
      <a ui-sref="map.navigate" style="width:28px;display: inline-block;height: 26px;" class="icon-question-mark"></a>
    </div>
    <!--<div class="h1 title color-stable">Q {{quizCtrl.getCurrentIndex()+1}} / {{quizCtrl.quiz.objects.length}}</div>-->
    <!-- <a style="width:28px" class="icon-question-mark"></a> -->
  </div>
  <div ng-repeat="question in quizCtrl.quiz.objects" ng-if="quizCtrl.isCurrentIndex($index)" ng-class="{'animation-question-slide':quizCtrl.isCurrentIndex($index)}">
    <div class="bar bar-subheader question-subheader bg-pale">

      <div class="card card-transparent center" ng-click="quizCtrl.playAudio(question.node.type.content.audio)">
        <p>
          <strong ng-if="question.node.title">{{question.node.title}}</strong>
        </p>
        <div ng-if="question.node.type.content.image"><img class="question-image" ng-src="{{question.node.type.content.image}}"></div>
        <div ng-if="!question.node.title && !question.node.type.content.image"><img height="100" width="100" src="img/icons/sound.png">
        </div>
      </div>
    </div>
    <ion-content  overflow-scroll="false" has-bouncing="true" class="has-header has-question-subheader has-footer-large padding-y-10 center">
      <!-- SCQ -->
      <div
        ng-if="question.node.type.type=='choicequestion' && !question.node.type.content.is_multiple"
        ng-class="{'wrong-attempt':quizCtrl.isAttempted(question) && quizCtrl.isKeyAttempted(question,option.key) && !quizCtrl.isKeyCorrect(question,option.key),'correct-attempt': quizCtrl.isAttempted(question) && quizCtrl.isKeyAttempted(question,option.key) && quizCtrl.isKeyCorrect(question,option.key),'selected':option.key==question.attempted,'card-list':quizCtrl.LIST_TYPE.indexOf(question.node.type.content.layout_type) > 0,'card-grid':quizCtrl.GRID_TYPE.indexOf(question.node.type.content.layout_type) > 0}"
        class="card center card-pale card-radius"
        ng-repeat="option in question.node.type.content.choices">
        <label ng-click="quizCtrl.playAudio(option.audio)">
          <input class="hide" type="radio" ng-model="question.attempted" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">
          <div class="padding-10" ng-if="option.option">{{option.option}}</div>
          <div class="padding-10" ng-if="option.image"><img ng-src="{{option.image}}"></div>
          <div class="padding-10" ng-if="!option.option && !option.image"><img height="100" width="100" ng-src="img/speaker.png">
          </div>
        </label>
      </div>

      <!-- MCQ options -->
      <div
        ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple"
        ng-class="{'wrong-attempt':quizCtrl.isAttempted(question) && quizCtrl.isKeyAttempted(question,option.key) && !quizCtrl.isKeyCorrect(question,option.key),'correct-attempt': quizCtrl.isAttempted(question) && quizCtrl.isKeyAttempted(question,option.key) && quizCtrl.isKeyCorrect(question,option.key),'selected':question.attempted[option.key],'card-list':quizCtrl.LIST_TYPE.indexOf(question.node.type.content.layout_type) > 0,'card-grid':quizCtrl.GRID_TYPE.indexOf(question.node.type.content.layout_type) > 0}"
        class="card center card-pale card-radius"
        ng-repeat="option in question.node.type.content.choices">
        <label ng-click="quizCtrl.playAudio(option.audio)">
          <input class="hide" type="checkbox" ng-model="question.attempted[$index+1]" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">
          <div class="padding-10" ng-if="option.option">{{option.option}}</div>
          <div class="padding-10" ng-if="option.image"><img ng-src="{{opton.image}}"></div>
          <div class="padding-10" ng-if="!option.option && !option.image"><img height="100" width="100" ng-src="img/speaker.png">
          </div>
        </label>
      </div>
      <!--<label ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple" ng-repeat="option in question.info.question_type.choices" class="list card padding block" >-->
      <!--<input class="hide" type="checkbox" ng-model="question.attempted[$index+1]" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">-->
      <!--<div ng-if="option.option">{{option.option}}</div>-->
      <!--<div ng-if="option.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>-->
      <!--<div ng-if="!option.option && !option.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>-->
      <!--</label>-->
    </ion-content>
    

  </div>
  <audio id="audioplayer">
    <source id="audioSource" type="audio/mpeg">
  </audio>
  <div class="bar bar-footer bar-footer-large bg-green padding-x-10">
    <button class="button button-block bg-brand-yellow padding-10 button-round" ng-click="quizCtrl.decide()" ng-disabled="!quizCtrl.canSubmit()">
      {{quizCtrl.isCorrectAttempted(quizCtrl.quiz.objects[quizCtrl.currentIndex]) ? quizCtrl.currentIndex < quizCtrl.quiz.objects.length - 1 ? 'CONTINUE' : 'DONE' : 'SUBMIT'}}
    </button>

  </div>

</ion-pane>
