<ion-pane class="bg-pale" ng-if="quizCtrl.quiz.objects.length">
  <div class="bar bar-header bg-pale quiz-header padding-0">
    <div class="row ">
      <div class="col padding-0 vertical-center">
        <div ng-click="quizCtrl.interval && quizCtrl.stopTimer() ; showNodeMenu()" class="header-icon icon-pause icon-fit-height padding-10"></div>
      </div>
      <div class="row margin-10 padding-0" style="
    flex-direction: column;
">
        <div class="row  bg-brand-yellow padding-0" style="border-radius:50px;height:5px;flex-direction:row">
          <div style="border-radius:50px;" class="col padding-0" ng-repeat="question in quizCtrl.quiz.objects" ng-class="{'bg-orange':quizCtrl.getCurrentIndex() == $index}"></div>
        </div>
        <div class="row padding-0" style="flex-direction:row">
          <div  class="col padding-0" ng-repeat="question in quizCtrl.quiz.objects">
            <span class="row padding-0 font-md" style="white-space:nowrap;padding-top:10px !important" ng-if="quizCtrl.getCurrentIndex() == $index">Q{{$index+1}}</span>
          </div>
        </div>
      </div>
      <div class="col " align="right">

        <div class="row timer-container">
        <div class="wrapper" >
          <div class="spinner pie" style="transform:rotate({{(quizCtrl.timer | date:'ss')*6}}deg)"></div>
          <div class="filler pie" style="opacity:{{((quizCtrl.timer | date:'ss')<=30)?0:1}}"></div>
          <div class="mask" style="opacity:{{((quizCtrl.timer | date:'ss')<=30)?1:0}}"></div>
        </div>
</div>
<div class="center"><span >{{quizCtrl.timer | date:'mm:ss'}}</span></div>

        <!-- <div style="border-radius:50px;width:50px;height:50px;border:2px solid #38B89A;padding:5px">
          <div style="background-color:#FA660C"></div>
        </div> -->
        <!-- <a ui-sref="map.navigate" class="header-icon icon-question-mark"></a> -->
      </div>
    </div>

  </div>
  <ion-content class="has-quiz-header" on-scroll="quizCtrl.inViewFlag = false" on-scroll-complete="quizCtrl.inViewFlag = true" in-view-container delegate-handle="questions-box" du-scroll-container overflow-scroll="false" has-bouncing="true">

    <!-- <ion-slide-box on-slide-changed="quizCtrl.slideHasChanged($index)" show-pager="false"> -->
    <div ng-repeat="question in quizCtrl.quiz.objects" ng-attr-id="{{'question-'+$index}}" class="card card-white margin-0 border-radius-0" style="margin-bottom:20px !important">
      <div in-view="quizCtrl.inViewTrigger($index, $inviewpart)" in-view-options="{debounce:0}" class="has-header center padding-20">
        <!-- <div class="padding-0"> -->
        <div
          ng-class="{'font-sl':quizCtrl.widgetParser.parseToDisplay(question.node.title,$index,quizCtrl.quiz).length == 1}"
          ng-if="question.node.title"
          ng-bind-html="quizCtrl.widgetParser.parseToDisplay(question.node.title,$index,quizCtrl.quiz)"
          class="question card card-transparent center margin-x-0 margin-y-0 padding-0"
          ng-click="quizCtrl.playAudio(quizCtrl.widgetParser.getSoundId(question.node.title),$index)">

          <!-- <div ng-if="question.node.type.content.image"><img class="question-image" ng-src="{{question.node.type.content.image}}"></div> -->
          <!-- <div ng-if="!question.node.title && !question.node.type.content.image"><img height="100" width="100" src="img/icons/sound.png"> </div> -->
        </div>
        <!-- </div> -->
        <!-- SCQ -->
        <div
          ng-click="question.attempted=(question.attempted==option.key)?'':option.key"
          ng-if="question.node.type.type=='choicequestion' && !question.node.type.content.is_multiple"
          ng-class="{'selected':option.key==question.attempted,'card-list':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'list','card-grid':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'grid'}"
          class="card center card-pale card-radius"
          ng-repeat="option in question.node.type.content.options">
          <!-- {{quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz)}} -->
          <label ng-click="quizCtrl.playAudio(quizCtrl.widgetParser.getSoundId(option.option),$parent.$parent.$index)">
            <input class="hide">
            <!-- <div class="option-container"  ng-if="option"> -->
            <div
              class="padding-10 option"
                  ng-class="{'font-sl':quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz).length < 5,'font-md':quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz).length >= 5}"
              ng-bind-html="quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz)"></div>
            <!-- </div> -->
          </label>
        </div>

        <!-- MCQ options -->
        <div
          ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple"
          ng-class="{'selected':question.attempted[option.key],'card-list':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'list','card-grid':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'grid'}"
          class="card center card-pale card-radius"
          ng-repeat="option in question.node.type.content.options">
          <label ng-click="quizCtrl.playAudio(quizCtrl.widgetParser.getSoundId(option.option),$parent.$parent.$index)">
            <input class="hide" type="checkbox" ng-model="question.attempted[option.key]" ng-value="option.key">
            <div
              class="padding-10 option"
              ng-class="{'font-sl':quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz).length < 5,'font-md':quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz).length >= 5}"
              ng-bind-html="quizCtrl.widgetParser.parseToDisplay(option.option,$parent.$parent.$index,quizCtrl.quiz)"></div>
            <!-- <div class="option-container"  ng-if="option"> -->
            <!-- </div> -->
          </label>
        </div>

        <!--<label ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple" ng-repeat="option in question.info.question_type.choices" class="list card padding block" >-->
        <!--<input class="hide" type="checkbox" ng-model="question.attempted[$index+1]" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">-->
        <!--<div ng-if="option.option">{{option.option}}</div>-->
        <!--<div ng-if="option.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>-->
        <!--<div ng-if="!option.option && !option.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>-->
        <!--</label>-->
      </div>

    </div>
    <!-- </ion-slide-box> -->
    <!--<div class="bar bar-footer bar-footer-large bg-green">-->
    <!--<div class="row">-->
    <!--<div class="col">-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col">-->
    <!--a-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <audio id="audioplayer">
      <source id="audioSource" type="audio/mpeg">
    </audio>
    <div class="bg-pale padding-x-20">
      <div class="row padding-0">
        <div class="col padding-x-10">
          <button class=" animation-fade-in-from-bottom button button-block button-green  button-round padding-0" ng-click="quizCtrl.submitQuiz('assessment')">
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </ion-content>
  <button ng-click="quizCtrl.nextQuestion(true)" class="button-round button button-calm icon-down icon-fit-height no-shadow" style="
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
">
  </button>
</ion-pane>
<ion-view ng-if="!quizCtrl.quiz.objects.length" class="bg-pale">
  <ion-content>
  <div class="row">
      <div class="col">
        <div class="card text-center font-lg padding-20">
          No questions
          <button class="button button-block bg-brand-yellow padding-10 button-round" ui-sref="map.navigate">Go back to map</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script></script>
