<ion-pane class="bg-pale">
  <ion-content>
    <div class="padding-20"></div>
    <div class="row padding-x-40">
      <div class="col center" >
        <img src="img/icons/practice.png">
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h1 class="text-grey">QUIZ TIME!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h3 style="letter-spacing:5px;" class="text-grey">Are you ready?</h3>
      </div>
    </div>
  <div class="row">
    <div class="col padding-x-60 padding-y-40">
          <button class="button button-round button-balanced button-block font-sl" style="line-height:60px;text-transform:uppercase !important;padding-top:10px" ui-sref="quiz.questions">Start</button>
    </div>
  </div>
</ion-content>
</ion-pane>
