<ion-view ng-if="quizCtrl.quiz.objects.length" id="tour-container" class="bg-pale">
  <!-- <div class="bar bar-header bg-pale practice-header padding-0"> -->
    <!--<div class="col padding-0 vertical-center">-->
      <!--<div ng-click="showNodeMenu()" class="header-icon icon-pause padding-10" style="background-size:auto 85%"></div>-->
    <!--</div>-->
    <!--<div class=" margin-x-10 margin-y-0 row progress-bar-container">-->
      <!--&lt;!&ndash; <div class="col-5 mark-0" ng-class="{'mark-filled':quizCtrl.practiceResult.percentCorrect > 0}"  ></div> &ndash;&gt;-->
      <!--<div-->
        <!--class="col-5 mark-star icon-fit-height"-->
        <!--style="left: calc({{quizCtrl.CONSTANT.STAR.ONE+'%'}} - 12px);"-->
        <!--ng-class="{'icon-star-2 animation-once-bounce':quizCtrl.summary.score.percent >= quizCtrl.CONSTANT.STAR.ONE,'icon-nostar-2':quizCtrl.summary.score.percent < quizCtrl.CONSTANT.STAR.ONE}"></div>-->
      <!--<div-->
        <!--class="col-5 mark-star icon-fit-height"-->
        <!--style="left: calc({{quizCtrl.CONSTANT.STAR.TWO+'%'}} - 12px);"-->
        <!--ng-class="{'icon-star-2 animation-once-bounce':quizCtrl.summary.score.percent >= quizCtrl.CONSTANT.STAR.TWO,'icon-nostar-2':quizCtrl.summary.score.percent < quizCtrl.CONSTANT.STAR.TWO}"></div>-->
      <!--<div-->
        <!--class="col-5 mark-star icon-fit-height"-->
        <!--style="left: calc({{quizCtrl.CONSTANT.STAR.THREE+'%'}} - 12px);"-->
        <!--ng-class="{'icon-star-2 animation-once-bounce':quizCtrl.summary.score.percent >= quizCtrl.CONSTANT.STAR.THREE,'icon-nostar-2':quizCtrl.summary.score.percent < quizCtrl.CONSTANT.STAR.THREE}"></div>-->

      <!--&lt;!&ndash; <div class="col" style="z-index:1"> &ndash;&gt;-->
      <!--<progress max="100" class="progress-bar-practice" value="{{quizCtrl.summary.score.percent}}"></progress>-->
      <!--&lt;!&ndash; </div> &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col" align="right">-->

      <!--&lt;!&ndash; <a ui-sref="map.navigate" class="header-icon icon-question-mark"></a> &ndash;&gt;-->
    <!--</div>-->
  <!-- </div> -->
  <ion-slide-box on-slide-changed="quizCtrl.setCurrentIndex(index);quizCtrl.logQuestion((index),'START');quizCtrl.quiz.objects[index].isVisited = true;quizCtrl.playInstruction(index)" ng-init="(quizCtrl.disableSwipe());quizCtrl.playInstruction(0)" show-pager="false">
    <ion-slide ng-repeat="question in quizCtrl.quiz.objects " ng-class="{'animation-question-slide':quizCtrl.isCurrentIndex($index)}">

      <!-- <div ng-repeat="question in quizCtrl.quiz.objects" ng-if="$index == quizCtrl.getCurrentIndex()"> -->
      <div id="step1" style="position:relative;top:8%">
        <ion-scroll scrollbar-x="false" scrollbar-y="false" ng-init="quizCtrl.isScroll($index)" style="
    height: 29vh;
" direction="y" class="padding-0 bg-pale no-shadow">
          <div
            style="min-height:24vh"
            ng-if="question.node.title"
            ng-bind-html="question.node.widgetHtml"
            class="question card card-transparent center margin-x-0 margin-y-0 padding-10"
            ng-click="quizCtrl.playAudio(question.node.widgetSound,$index);quizCtrl.highlightSoundIcon($parent.$index);"></div>
        </ion-scroll>
      </div>

      <ion-scroll
        scrollbar-x="false" scrollbar-y="false"
        direction="y"
        style="height:53vh;top:8vh"
      >
        <div
          style="top:8vh;min-height:53vh"
          id="step2"
          in-view-container
          class=" has-footer-large center bg-pale"
          ng-init="optionsFontSize=quizCtrl.widgetParser.getOptionsFontSize(question.node.type.content.options)">
          <!-- SCQ -->
          <div>
            <div
              ng-click="question.attempted=(question.attempted==option.key)?'':option.key;demo.tourNextStep();"
              ng-if="question.node.type.type=='choicequestion' && !question.node.type.content.is_multiple"
              ng-class="{'selected':option.key==question.attempted,'card-list':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'list','card-grid practice-card':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'grid'}"
              class="lcard center bg-white card-radius"
              ng-repeat="option in question.node.type.content.options">
              <label ng-click="quizCtrl.playAudio(option.widgetSound,$parent.$parent.$index);">
                <input class="hide">
                <!-- <div class="option-container"  ng-if="option"> -->
                <div class="lcard-inner padding-10 option" ng-bind-html="option.widgetHtml"></div>
                <!-- </div> -->
              </label>
            </div>
          </div>

          <!-- MCQ options -->
          <div
            ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple"
            ng-class="{'selected':question.attempted[option.key],'card-list':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'list','card-grid practice-card':quizCtrl.widgetParser.getLayout(question,$parent.$parent.$index,quizCtrl.quiz) == 'grid'}"
            class="card center bg-white card-radius"
            ng-repeat="option in question.node.type.content.options">
            <label ng-click="quizCtrl.playAudio(option.widgetSound,$parent.$parent.$index);demo.tourNextStep();">
              <input class="hide" type="checkbox" ng-model="question.attempted[option.key]" ng-value="option.key">
              <!-- <div class="option-container"  ng-if="option"> -->
              <div class="padding-10 option" ng-bind-html="option.widgetHtml"></div>
              <!-- </div> -->
            </label>
          </div>
          <!--<label ng-if="question.node.type.type=='choicequestion' && question.node.type.content.is_multiple" ng-repeat="option in question.info.question_type.choices" class="list card padding block" >-->
          <!--<input class="hide" type="checkbox" ng-model="question.attempted[$index+1]" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">-->
          <!--<div ng-if="option.option">{{option.option}}</div>-->
          <!--<div ng-if="option.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>-->
          <!--<div ng-if="!option.option && !option.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>-->
          <!--</label>-->
        </div>
      </ion-scroll>
    </ion-slide>
  </ion-slide-box>
  <audio id="audioplayer">
    <source id="audioSource" type="audio/mpeg">
  </audio>
  <div id="step3" class="bar bar-footer bar-footer-large bg-pale">
    <div class="row padding-0">
      <div class="col">
        <button
          class="button button-block button-balanced margin-0 button-round font-md"
          style="height:40px;line-height:45px"
          ng-click="quizCtrl.disable_submit = true;quizCtrl.submitAttempt(quizCtrl.quiz.objects[quizCtrl.currentIndex].node.id,quizCtrl.quiz.objects[quizCtrl.currentIndex].attempted,'litmus') && quizCtrl.setSuggestion();quizCtrl.logQuestion(quizCtrl.currentIndex,'END');demo.tourNextStep();audio['demo-quiz-3'].stop();quizCtrl.stopAudio()"
          ng-disabled="!(quizCtrl.canSubmit() && !quizCtrl.disable_submit)"
          ng-class="{'animation-repeat-fade':quizCtrl.canSubmit()}">
          {{quizCtrl.isAttempted(quizCtrl.quiz.objects[quizCtrl.currentIndex]) ? 'CONTINUE' : 'SUBMIT'}}
        </button>
      </div>
    </div>
  </div>
</ion-view>
<ion-view ng-if="!quizCtrl.quiz.objects.length">
  <ion-content>
    No questions in the lesson
  </ion-content>
</ion-view>
