<ion-view class="bg-pale">
	<div class="vertical-align" style="height:100%">
		<div>
			<center style="padding-top: 20px;">
				<img height="150" ng-src="img/assets/upperbody-{{gender}}.png">
			</center>
			<div class="color-dblue padding-20" style="font-size: 2.5em;line-height: 1.2em">
				<p style="padding-bottom: 20px">
					Hi,
				</p>
				<p>
					Let's check how well you know English!
				</p>
			</div>
			<center>
				<button ui-sref="quiz.questions({'type':'litmus','id':'litmus_question'})" class="sbtn sbtn-next-blue" ng-click="pauseAudio()"></button>
			</center>
		</div>
	</div>
</ion-view>
