<ion-pane class="bg-green">
  <div class="bar bar-header bg-pale">
    <a ui-sref="user.main.home" class="button button-clear button-icon icon ion-close-round"></a>
    <!--<div class="h1 title color-stable">Q {{quizCtrl.getCurrentIndex()+1}} / {{quizCtrl.quiz.objects.length}}</div>-->
    <a class="button button-clear button-icon icon ion-help"></a>
  </div>
    <div ng-repeat="question in quizCtrl.quiz.objects" ng-if="quizCtrl.isCurrentIndex($index)" ng-class="{'animation-question-slide':quizCtrl.isCurrentIndex($index)}">
      <div class="bar bar-subheader question-subheader bg-pale">

      <div class="card card-transparent center" ng-click="quizCtrl.playAudio(question.info.audio.key)">
        <p >
        <strong class="text-white" ng-if="question.info.title">{{question.info.title}}</strong>
        </p>
        <div ng-if="question.info.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>
        <div ng-if="!question.info.title && !question.info.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>
      </div>
      </div>
      <ion-content class="has-header has-question-subheader has-footer padding-x-20 center">
      <!-- SCQ -->
      <div  ng-class="{'wrong-attempt':quizCtrl.isAttempted(question.node.id) && quizCtrl.isKeyAttempted(question,option.key) && !quizCtrl.isKeyCorrect(question,option.key),'correct-attempt': quizCtrl.isAttempted(question.node.id) && quizCtrl.isKeyAttempted(question,option.key) && quizCtrl.isKeyCorrect(question,option.key),'selected':option.key==question.attempted}" class="card padding center card-list card-pale card-radius" ng-repeat="option in question.node.type.content.choices">
        <label  ng-if="question.node.type.type=='choicequestion' && !question.info.question_type.is_multiple"  ng-click="quizCtrl.playAudio(option.audio.key)" >
          <input class="hide" type="radio" ng-model="question.attempted" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">
          <div ng-if="option.option">{{option.option}}</div>
          <div ng-if="option.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>
          <div ng-if="!option.option && !option.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>
        </label>
      </div>
       <!-- MCQ options -->
      <label ng-if="question.info.content_type=='choice question' && question.info.question_type.is_multiple" ng-repeat="option in question.info.question_type.choices" class="list card padding block" ng-class="{'wrong-attempt':quizCtrl.isAttempted(question.node.id) && quizCtrl.isKeyAttempted(question,option.key) && !quizCtrl.isKeyCorrect(question,option.key),'correct-attempt': quizCtrl.isAttempted(question.info.id) && quizCtrl.isKeyAttempted(question,option.key) && quizCtrl.isKeyCorrect(question,option.key),'selected':question.attempted[option.key]}">
        <input class="hide" type="checkbox" ng-model="question.attempted[$index+1]" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">
        <div ng-if="option.option">{{option.option}}</div>
        <div ng-if="option.image.key"><img ng-src="{{'img/quiz/1.jpg'}}"></div>
        <div ng-if="!option.option && !option.image.key"><img height="100" width="100" ng-src="img/speaker.png"> </div>
      </label>
      </ion-content>

    </div>
    <audio id="audioplayer">
      <source id="audioSource" type="audio/mpeg">
    </audio>
  <div class="bar bar-footer bar-footer-large bg-green">
    <div class="row">
      <div class="col">
        <button class="button button-block bg-brand-yellow" ng-click="quizCtrl.decide()" ng-disabled="!quizCtrl.canSubmit()">
          {{quizCtrl.isCorrectAttempted(quizCtrl.quiz.objects[quizCtrl.currentIndex]) ? quizCtrl.currentIndex < quizCtrl.quiz.objects.length - 1 ? 'CONTINUE' : 'DONE' : 'SUBMIT'}}
        </button>
      </div>
    </div>

  </div>


</ion-pane>
