<ion-modal-view class="modal-dark" ng-click="quizCtrl.pauseModal.hide()">
  <ion-content class="padding-40">
    <div class="row margin-y-30">
          <button ng-click="quizCtrl.pauseModal.hide()" class="icon-back icon-left-align animation-fade-in-from-bottom button button-block bg-green padding-20 button-round font-xl">
          RETURN
          </button>
    </div>
    <div class="row margin-y-30">
          <button ng-click="quizCtrl.pauseModal.hide() && quizCtrl.restartQuiz()" class="icon-redo icon-left-align animation-fade-in-from-bottom button button-block bg-calm padding-20 button-round font-xl">
            RESTART
          </button>
    </div>
    <div class="row margin-y-30">
          <button ng-click="quizCtrl.pauseModal.hide() && quizCtrl.endQuiz()" class="icon-map icon-left-align animation-fade-in-from-bottom button button-block bg-brand-yellow padding-20 button-round font-xl">
            EXIT TO MAP
          </button>
    </div>
  </ion-content>
</ion-modal-view>
