<ion-pane class="bg-pale">
  <ion-content>
    <div class="row padding-40">
      <div class="col center" >
        <img src="img/icons/practice.png">
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h1 class="text-grey">QUIZ TIME!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <h4 class="text-grey">Are you ready?</h4>
      </div>
    </div>
  <div class="row">
    <div class="col padding-40">
          <button class="button button-round button-balanced button-block font-sl" ui-sref="quiz.questions">Start</button>
    </div>
  </div>
</ion-content>
</ion-pane>
