<ion-view class="bg-pale">
  <div class="vertical-align" style="height:100%">
    <div>
      <center style="padding-top: 20px;">
        <img height="150" src="img/assets/upperbody-girl.png">
      </center>
      <div class="color-dblue padding-20" style="text-align:justify;font-size: 2.5em;line-height: 1.2em">
        <p style="padding-bottom: 20px">
          Hi,
        </p>
        <p>
          Congrats you completed litmus
        </p>
      </div>
      <center>
        <button ui-sref="map.navigate" class="sbtn sbtn-next-blue"></button>
      </center>
    </div>
  </div>
</ion-view>
