<ion-modal-view class="modal-dark" ng-click="quizCtrl.pauseModal.hide()">
  <ion-content class="padding-20">
    <div class="row">
          <button ng-click="quizCtrl.pauseModal.hide()" class="button button-green button-block">Resume</button>
    </div>
    <div class="row">
          <button ng-click="quizCtrl.pauseModal.hide() && quizCtrl.restartQuiz()" class="button button-green button-block">Restart</button>
    </div>
    <div class="row">
          <button ng-click="quizCtrl.pauseModal.hide() && quizCtrl.endQuiz()" class="button button-green button-block">End</button>
    </div>
  </ion-content>
</ion-modal-view>
