<ion-view class="bg-dark">
  <ion-content>
    <!--<div class="row">-->
      <!--<div class="col col-33 col-offset-33"><img src="img/avatar.png" alt="" class="full-image"></div>-->
    <!--</div>-->
    <div class="row center">
      <div style="font:20px;color:white" class="col">
        Your Score : {{quizCtrl.quizResult.marks}}
      </div>
    </div>
    <div class="row center">
      <div class="col" ng-repeat="i in quizCtrl.range(quizCtrl.quizResult.stars)">
        <div>
          <img height="100px" width="100px" src='img/icons/star.png'>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--<div class="list card card-dark-dark text-white padding">-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, debitis.</p>-->
        <!--</div>-->
        <!--<p class="text-white text-center">Up next</p>-->
        <!--<div class="list card card-brand text-white padding">-->
          <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, hic?-->
        <!--</div>-->
        <!-- <div class="card card-dark text-white padding">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, debitis.</p>
        </div> -->
        <div class="list card">
          <div ng-repeat="(key,value) in quizCtrl.quizResult.analysis">
            <div class="item item-divider">
              <strong>Question #{{$index + 1}}</strong>
            </div>
            <div class="item item-text-wrap">
              {{value}}
            </div>
          </div>
        </div>
        <div class="list card card-transparent">
          <button class="button button-calm button-block" ui-sref="map.navigate">CONTINUE</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
