<ion-pane class="bg-neutral">
  <div class="bar bar-header bar-transparent">
    <a ui-sref="user.main.home" class="button button-clear button-icon icon ion-ios-close-empty"></a>
    <div class="h1 title">Q {{quizCtrl.getCurrentIndex()+1}} / {{quizCtrl.quiz.questions.length}}</div>
    <button class="button button-clear">HINT</button>
  </div>
  <ion-content class="has-header has-footer padding-x-20">
    <div ng-repeat="question in quizCtrl.quiz.questions" ng-hide="!quizCtrl.isCurrentIndex($index)">
      <div class="card card-transparent">
        <p>
          <strong>{{question.info.title}}</strong>
        </p>
        <p>
          {{question.info.description}}
        </p>
      </div>
      <label ng-repeat="option in question.info.question_type.choices" class="card padding block" ng-class="{'wrong-attempt':quizCtrl.isAttempted(question.info.id) && quizCtrl.isKeyAttempted(question.info.id,option.key) && !quizCtrl.isKeyCorrect(question,option.key,question.attempted),'correct-attempt': quizCtrl.isAttempted(question.info.id) && quizCtrl.isKeyAttempted(question.info.id,option.key) && quizCtrl.isKeyCorrect(question,option.key,question.attempted),'selected':option.key==question.attempted}">
        <input class="hide" type="radio" ng-model="question.attempted" ng-value="option.key" ng-disabled="quizCtrl.isCorrectAttempted(question)">
          {{option.option}}
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-transparent">
    <div class="button-bar">
      <a class="button button-clear" ng-click="quizCtrl.prevQuestion()">
        <i class="icon ion-ios-arrow-back"></i>
      </a>
      <button class="button button-calm" ng-click="quizCtrl.submit()" ng-disabled="!quizCtrl.quiz.questions[quizCtrl.currentIndex].attempted">
        {{quizCtrl.isCorrectAttempted(quizCtrl.quiz.questions[quizCtrl.currentIndex])?'CONTINUE':'SUBMIT'}}
      </button>
      <a class="button button-clear" ng-click="quizCtrl.nextQuestion()">
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>
  </div>
</ion-pane>
