<div class="bar bar-footer bar-light">
  <div class="tabs">
    <a href="#/user/main/profile" class="tab-item"><i class="icon ion-person"></i></a>
    <a href="#/user/main/playlist" class="tab-item"><i class="icon ion-ios-list-outline"></i></a>
    <a href="#/user/main/home" class="tab-item"><i class="icon ion-ios-home-outline"></i></a>
    <a href="#/user/main/result" class="tab-item"><i class="icon ion-stats-bars"></i></a>
    <a href="#/user/main/search" class="tab-item"><i class="icon ion-ios-search"></i></a>
  </div>
</div>
